.dictGoogleDict-Entry {
  ol li {
    list-style: none;
  }

  ol, ul, li {
    border: 0;
    margin: 0;
    padding: 0;
  }

  img{
    max-width: 99%;
  }

  .mod {
    clear: both
  }

  [data-dobid="hdw"],
  [data-dobid="wd-hdw"] {
    font-size: 1.5em;
  }

  .kp-blk .xpdclose .LKPcQc,
  .kp-blk .xpdopen .viOShc {
    padding-top: 0
  }

  .garHBe {
    color: #222;
    font-size: 18px;
    position: relative
  }

  .garHBe a {
    color: #222
  }

  .xpdopen .Hhmu2e {
    overflow: inherit
  }

  .xpdclose .a84NUc:not(:empty),
  .xpdopen .CQKTwc:not(:empty) {
    border-top: solid 1px #EBEBEB;
    border-radius: 0
  }

  .rKR6H {
    padding-top: 0.1px
  }

  .xpdclose .oHglmf,
  .xpdopen .xzPb7d {
    padding-bottom: 16px
  }

  .xpdclose .kp-header .oHglmf,
  .xpdopen .kp-header .xzPb7d {
    padding-bottom: 0
  }

  .Wnoohf .xpdopen .yp1CPe,
  .OJXvsb .xpdclose .siXlze {
    padding-bottom: 16px
  }

  .Wnoohf .xpdclose .mod.xsZWvb,
  .Wnoohf .xpdopen .mod.EfDVh {
    padding-bottom: 0
  }

  .OJXvsb .xpdclose .mod.siXlze {
    padding-bottom: 16px
  }

  .c2xzTb .iq-content-first .oHglmf,
  .c2xzTb .iq-content-first .xzPb7d {
    padding-top: 0;
    padding-bottom: 16px
  }

  #rhs .kp-blk .xpdclose .LKPcQc,
  #rhs .kp-blk .xpdopen .viOShc {
    padding-top: 0
  }

  #rhs .Wnoohf .xpdopen .yp1CPe,
  #rhs .OJXvsb .xpdclose .siXlze {
    padding-bottom: 15px
  }

  #rhs .Wnoohf .xpdclose .mod.xsZWvb,
  #rhs .Wnoohf .xpdopen .mod.EfDVh {
    padding-bottom: 0
  }

  #rhs .Wnoohf .xpdclose .mod.xsZWvb.ecRggb,
  #rhs .Wnoohf .xpdopen .mod.EfDVh.ecRggb,
  #rhs .kp-blk .ecRggb {
    padding-bottom: 15px
  }

  .A4O3hd {
    box-shadow: none !important
  }

  .ecRggb {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 0 0 16px 0
  }

  .JBZHNc {
    padding: 0 8px
  }

  .BDf0v.DXt2ie {
    box-shadow: none
  }

  .dob-ho {
    overflow: hidden;
    border-radius: 2px
  }

  .lr_mh {
    font-size: medium
  }

  .lr_sh {
    margin-bottom: 12px
  }

  .lr_mh {
    margin-bottom: 15px
  }

  .l06wW .lr_container {
    padding-bottom: 0
  }

  .lr_container {
    padding-bottom: 16px
  }

  .kp-blk .lr_container .vk_arc {
    margin-top: 10px;
    margin-bottom: 0
  }

  html .kp-blk .xpdbox .yc7KLc {
    padding-top: 0
  }

  .mBNN3d {
    padding-bottom: 0
  }

  .gi0Tyb {
    margin-left: -36px;
    margin-right: -36px;
    padding-left: 36px;
    padding-right: 36px
  }

  .lr_container.mod {
    line-height: normal
  }

  .g-blk {
    position: relative;
  }

  .kp-blk a {
    text-decoration: none
  }

  .kp-blk .mod:first-child {
    padding-top: 1px;
  }

  .kp-blk .c94Vsf .mod:first-child {
    padding-top: 0;
    border-top: 0
  }

  .qs-ic .kp-blk .mod:not(.NFQFxe) {
    padding-left: 26px;
    padding-right: 26px
  }

  #center_col .kp-blk {
    margin-left: -16px;
    margin-right: -16px;
    position: relative
  }

  #rhs .kp-blk {
    line-height: 1.24;
    margin: 6px -32px 0 2px
  }

  #rhs .kp-blk .mod:not(.NFQFxe) {
    padding-left: 15px;
    padding-right: 15px
  }

  #rhs .g-blk.rhsvw {
    border: 0;
    padding: 0
  }

  .rfli .kp-blk {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
  }

  .kp-blk .g:not(.g-blk) {
    margin: 0
  }

  hr.ga9aRe {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    height: 1px;
    margin: 0
  }

  .kp-blk>.vk_arc,
  .kp-blk>div>.vk_arc {
    margin: 0
  }

  .kp-blk.T1bmQ .vk_arc {
    margin-top: 0
  }

  .kp-blk .g {
    margin-bottom: 0
  }

  .kkww4d {
    position: relative;
    padding: 0 16px;
    z-index: 1;
  }

  .gJBeNe {
    display: inline-block;
    font-size: 18px;
    color: #545454;
    padding-top: 24px;
    padding-bottom: 16px
  }

  .vSuuAd {
    cursor: pointer;
    outline: none
  }

  .k6tCkf {
    position: absolute;
    top: calc(50% - 9px);
    left: 0;
    right: 0;
    padding: inherit
  }

  .IUBXrd {
    font-family: arial, sans-serif-light, sans-serif;
    font-weight: normal
  }

  .bZDqT {
    font-family: arial, sans-serif;
    font-weight: normal
  }

  .TnY94b {
    font-family: arial, sans-serif-medium, sans-serif;
    font-weight: normal
  }

  .LAhSwb {
    font-family: arial, sans-serif;
    font-weight: bold
  }

  .uUoqX {
    padding: 0px 16px 16px;
    font-size: 18px;
    color: #545454;
  }

  .LPsqOe {
    padding-top: 24px;
  }

  .aSMSId {
    float: right;
    padding-right: 8px;
    color: rgba(0, 0, 0, .54);
    font-size: 24px;
    cursor: pointer
  }

  .uS3Jbe {
    float: right
  }

  .G5aHTc {
    vertical-align: middle;
    height: 18px;
    padding: 0 8px;
    height: 24px;
  }

  .cgUIY {
    padding: 0 16px;
  }

  .YaTjLb {
    cursor: text;
    line-height: 34px;
    border: 1px solid #d9d9d9;
    background: #FFF;
  }

  .JZ1tHe {
    color: rgba(0, 0, 0, 0.38);
    padding-left: 8px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
  }

  .auzCGd {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    line-height: 18px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 8px;
    vertical-align: middle;
  }

  .A941ff {
    color: #545454;
    padding: 12px 16px 32px;
    font-size: 14px;
  }

  .D6m8pf {
    font-size: 14px;
    color: #70757A;
    line-height: 38px;
    position: absolute;
    padding-left: 12px
  }

  .LkhmPe {
    padding: 24px 16px;
  }

  .dw-sb-cont {
    background: #ffffff;
  }

  .dw-sb-cont .dw-sbi {
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 18px;
    -webkit-appearance: none;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border: 1px solid #d9d9d9;
    height: 38px;
    padding: 0 8px;
    width: calc(100% - 18px);
  }

  .dw-sb-cont .dw-sbi:focus {
    border-right: 1px solid #d9d9d9;
    border: 1px solid #4D90FE;
    outline-width: 0
  }

  .dw-sb-cont .dw-sb-btn {
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: 0;
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    width: 39px
  }

  .dw-sb-cont .dw-sb-btn span {
    vertical-align: middle
  }

  #dw-siw {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 40px)
  }

  .dw-sb-cont .dw-sbs {
    font-size: 16px;
    color: #222222;
    padding: 0;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 8px;
    line-height: 22px;
  }

  .dw-sb-cont .sbsb_a {
    padding: 4px 0 8px
  }

  .dwsbs_i {
    vertical-align: middle;
    padding: 12px 24px 12px 16px;
    height: 24px;
    width: 24px
  }

  .dwsbs_t {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 64px);
    line-height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12)
  }

  .sbsb_b li:first-child .dwsbs_t {
    border-top: none
  }

  .dw-sug {
    position: relative
  }

  .UY2SKd {
    position: absolute;
    padding-left: 12px;
    font-size: 16px;
    color: #70757A;
    line-height: 40px;
  }

  .lr_dct_ent {
    padding-bottom: 20px;
    font-size: small;
    word-wrap: break-word
  }

  .kp-blk .lr_dct_ent {
    padding-bottom: 10px
  }

  .lr_dct_ent:not(:first-of-type) {
    padding-top: 20px
  }

  div.xpdxpnd>.lr_dct_ent {
    padding-top: 20px
  }

  .lr_dct_ent_hi {
    font-size: small;
    position: relative;
    top: -8px;
    vertical-align: super
  }

  .E1zLfe {
    font-size: 12px;
    padding-left: 2px;
    top: 0
  }

  .FtlNye {
    font-family: arial, sans-serif;
    font-weight: normal !important;
    font-size: 22px !important
  }

  .lr_dct_ph>span:first-child:before {
    content: "/"
  }

  .lr_dct_spkr {
    height: 16px;
    width: 16px;
    margin: 0px 2px 4px 5px;
    vertical-align: middle;
    display: none;
  }

  .lr_dct_spkr_on,
  .lr_dct_spkr:hover {
    opacity: 1.0
  }

  .lr_dct_spkr_off {
    opacity: 0.55
  }

  .lr_dct_sf_h {
    padding-top: 10px
  }

  .lr_dct_sf_sen {
    padding-top: 10px;
  }

  .lr_dct_sf_subsen {
    display: list-item;
    list-style: none;
    font-size: xx-small;
    margin-left: 15px;
    padding-top: 5px;
  }

  .PNlCoe {
    font-size: small
  }

  .oTlOBe {
    font-size: medium
  }

  .lr_dct_nyms_ttl {
    font-style: italic;
    vertical-align: top;
    white-space: nowrap
  }

  .lr_dct_more_btn {
    cursor: pointer;
    color: #16a085;
  }

  .lr_dct_more_btn:hover,
  .lr_dct_more_btn:active {
    text-decoration: underline
  }

  .lr_dct_ths {
    color: black;
    display: list-item;
    list-style: none;
    font-size: xx-small;
    margin-left: 25px;
    padding-top: 5px;
  }

  .lr_dct_ths>div {
    color: #5a5a5a;
    font-size: small;
  }

  .SDZsVb {
    cursor: pointer;
    color: #16a085;
  }

  .lr_dct_lbl_box {
    background-color: #eee;
    display: inline-block;
    color: #777;
    padding: 4px 6px;
    text-transform: uppercase;
    font-size: small;
    margin-top: -1px
  }

  .lr_dct_lbl_inl {
    margin-left: 6px
  }

  .lr_dct_lbl_blk {
    margin-right: 6px
  }

  .M4dUYb {
    position: relative
  }

  .rISBZc {
    display: block;
    border: 0
  }

  .kp-blk .lr_dct_trns {
    padding-top: 10px
  }

  .lr_dct_trns_h {
    display: inline-block
  }

  .v4qWyb:first-letter {
    text-transform: uppercase
  }

  .lr_dct_trns_sel_cnt {
    border-radius: 0 0 2px 2px;
    display: inline-block;
    overflow: hidden;
    padding-left: 5px;
    position: relative;
    vertical-align: middle;
  }

  .lr_dct_trns_sel_browser {
    text-indent: 5px
  }

  .lr_dct_trns_sel {
    -webkit-appearance: button;
    appearance: button;
    background-position-y: center;
    border: 1px solid gainsboro;
    outline: none;
    padding: 5px 0;
    overflow: hidden;
    width: 180px
  }

  .ElpxJd {
    background: url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) 100% no-repeat whiteSmoke;
    background-position-x: 166px;
    border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 20px
  }

  .iyOq3e {
    background: url(https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_grey600_18dp.png) 100% no-repeat white;
    background-position-x: 154px;
    border-radius: 6px;
    font-size: 14px !important;
    line-height: 26px;
    text-indent: 12px
  }

  .CQHPxe {
    background-position-x: 5px
  }

  .lr_dct_trns_sel:focus {
    border-color: #1878f0
  }

  .lr_dct_trns_sel:disabled {
    background-color: #fff;
    color: #b8b8b8
  }

  .xpdbox.xpdopen .jTi7hd,
  .xpdclose .trCEk {
    display: none
  }

  .iXqz2e {
    position: relative
  }

  .iXqz2e .exp-txt-c {
    color: #777;
    font-size: 16px;
    margin: 0 15px;
    position: absolute
  }

  .pSO8Ic .exp-txt-c {
    right: 0;
    text-align: left
  }

  .PbV1Bf .exp-txt-c {
    bottom: 8px;
    left: 0;
    right: 0;
  }

  .aI3msd .exp-txt-c {
    left: 79px
  }

  .Dr8Uk .exp-txt-c {
    left: 0
  }

  #center_col .pSO8Ic .exp-txt-c {
    top: 10px
  }

  #rhs .pSO8Ic .exp-txt-c {
    top: 10px
  }

  .iXqz2e.aI3msd .vk_ard,
  .iXqz2e.aI3msd .vk_aru {
    margin-left: 15px
  }

  .iXqz2e.Dr8Uk .vk_ard,
  .iXqz2e.Dr8Uk .vk_aru {
    margin-left: auto;
    margin-right: 15px
  }

  .mv83Pc .y3K32 {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: -20px
  }

  .vk_arc:focus {
    outline: none
  }

  .jFHKNd {
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 13px
  }

  a.duf3 {
    color: #777;
    float: right;
    font-style: italic;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a.IKDlBc {
    color: rgba(0, 0, 0, .54);
    float: none;
    font-style: normal
  }

  a.aciXEb {
    padding: 0 5px;
    background: rgba(255, 255, 255, .9);
  }

  .RTZ84b {
    color: #9e9e9e;
    cursor: pointer;
    padding-right: 8px
  }

  .XEKxtf {
    color: #9e9e9e;
    float: right;
    font-size: 12px;
    padding-bottom: 4px
  }

  .ghri8e {
    text-align: center
  }

  .ghri8e a {
    display: inline-block;
    padding-top: 8px
  }

  .eJ7tvc {
    color: rgba(0, 0, 0, 0.57);
    margin: 12px 20px;
    font-size: 14px
  }

  .AUiS2 {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    display: none;
    left: calc(100% + 64px);
    margin-top: 10px;
    top: 2px;
    opacity: 0;
    transition: all 150ms ease-in-out;
    transform-origin: top left;
    white-space: nowrap
  }

  .N90jdc {
    background-image: url(data:image/svg+xml,%0A%3Csvg%20focusable%3D%22false%22%20width%3D%2216px%22%20height%3D%2216px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7.41%207.84L12%2012.42l4.59-4.58L18%209.25l-6%206-6-6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E%0A);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    position: absolute;
    top: calc(100% + 15px);
    right: 4px;
    margin-right: -12px;
    margin-top: -34px;
    outline-width: 0;
    opacity: 0;
    padding: 3px;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    transform: rotate(-90deg);
    width: 16px
  }

  .d8lLoc {
    background-color: transparent;
    transform-origin: top
  }

  .hYkSRb {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: -16px;
    padding-right: 24px;
    width: 100%;
    padding-left: 20px
  }

  .hYkSRb::-webkit-scrollbar {
    display: none
  }

  .XCKyNd {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -16px;
    width: 16px;
    height: 16px;
    padding: 12px;
    z-index: 10;
    opacity: 0.54
  }

  .XCKyNd:focus {
    outline: none
  }

  .exp-outline {
    border: solid 1px rgba(0, 0, 0, 0.13);
    position: absolute;
    transition: opacity 150ms ease-in-out, height 150ms ease-in-out;
    pointer-events: none;
    opacity: 0;
    width: calc(100% - 2px);
    left: 0px;
    transform: translateY(-11px);
    border-radius: 2px
  }

  .d8lLoc {
    padding-left: 15px
  }

  .AUiS2 {
    box-shadow: none;
    margin-top: 8px;
    margin-left: -15px;
    margin-right: -15px
  }

  .hYkSRb {
    line-height: 24px;
    max-height: 72px;
    margin-left: 0;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0;
    white-space: normal;
    width: calc(100% - 24px)
  }

  .eJ7tvc {
    margin-bottom: 4px;
    margin-left: 0px;
    margin-top: 14px
  }

  .exp-r {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 0
  }

  .N90jdc {
    transform: none
  }

  .exp-c {
    display: inline-block;
    vertical-align: top
  }

  .exp-r {
    display: block
  }

  .hYkSRb {
    white-space: nowrap
  }

  .Fam1ne {
    background-repeat: repeat-x;
    display: inline-block;
    overflow: hidden;
    position: relative
  }

  .Fam1ne span {
    background-repeat: repeat-x;
    display: block
  }

  .KsUr1 .Fam1ne,
  .Fam1ne.sCCsuc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA6klEQVR4AZXQMWsCMRiH8SAnQacODgpyg8rh1EEQHXS5xaUdXA5KRUHo+/2/wdN3aBNK34TEZ0rCD86/S/140ZydI9WrVo3etUrk+dJ8Hdog2qYO9YjW16ARD0R7MCpHC+SnRTk6BHQoR0NAg43WvP1LYsbrWh0tN6SwG+3v53n6ItLj//6nFfcsuLOyhphwSZILk/R6nUm6/OQzE83yaGeiXR5dTXTNoSmSaJpGWyQ0aBLaplGc/EijHePkKdTwRLQP5uFurifRnjQ2ahHtzBhHbKw3orU2OvHJEme01JeTjfZ4XCLPPp6+AYsy7RMdMSvnAAAAAElFTkSuQmCC)
  }

  .KsUr1 .Fam1ne span,
  .Fam1ne.sCCsuc span {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA9klEQVR4AZXUoY7iUABG4SYYEgwYwhOsx4MlqUaAQ/AGMxqHIUHDC4DnATaMx7MORVAEh5vAtzUN7M69TXuOurc5SfuLJjH8ykzCJmJ++qgefWVWjJq+M5vVojEYV4s2YFMlqrmBm1r5qC+nXz5ayFmUj/7IOYajkd//uffO/sfzUdZJXZTlIs1fr2WrDFutf79p6KqIq2FoiLadGDvt+HoTISbFk3eF6BZHMyFmxdFBiENR1PEU4qkTj6ZeHDNfTONRPvnDUj1z6ZFPHovq7uCkJ7/rOYG7ejhKwVrD+23DGqThaOVsIAk4cLYKR3NN8b/T/HX6C7jRb/QEnjPPAAAAAElFTkSuQmCC)
  }

  .vk_gy {
    margin: 5px;
    color: #5a5a5a !important;
  }

  [data-dobid="wd-dfn"] {
    margin-bottom: 5px;
  }

  .ellip {
    display: none !important;
  }
}

.dictGoogleDict-Speaker {
  margin: 0 5px;
  color: #f9690e;
  cursor: pointer;
}
