.head-info {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  & > li {
    margin: 0 0 0 8px;
    list-style-type: none;

    & > a {
      color: #fff;
      opacity: 0.65;
      transition: opacity 0.4s;

      &:hover,
      &:active,
      &:focus, {
        opacity: 1;
      }
    }
  }
}

.head-info-bubble-wrap {
  position: relative;
}

.head-info-bubble {
  position: absolute;
  z-index: 99999;
  top: 105%;
  right: 0;
  padding: 8px 8px;
  line-height: 1.6;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 3px 4px 31px -8px rgba(0,0,0,0.8);

  & > ol {
    margin: 0;

    & > li {
      white-space: nowrap;
      line-height: 2;
      padding-right: 20px;
    }
  }
}

.head-info-donate {
  display: flex;
  white-space: nowrap;
  margin-bottom: 1em;

  img {
    width: 200px;
    height: 200px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.head-info-fade-enter {
  opacity: 0;
  transition: opacity .5s;
}

.head-info-fade-enter-active, .head-info-fade-exit {
  opacity: 1;
  transition: opacity .5s;
}

.head-info-fade-exit-active {
  opacity: 0;
  transition: opacity .5s;
}
