/* engine base look */
.saladict-engine {
  position: relative;
  overflow: hidden;
  padding: $engine-vertical-padding $engine-horizontal-padding 0;

  // draw lines between blocks
  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: $engine-vertical-padding;
  }

  &:last-child {
    &::after {
      border-bottom: 0;
    }
  }
}

/* aside */
.saladict-engine__aside {
  position: absolute;
  top: 0;
  right: $engine-horizontal-padding;
}

/* logo */
.saladict-engine__logo {
  & > figcaption {
    border-top: $font-size solid $color-gray;
    color: $font-color;
    font-weight: normal;
  }

  & > img {
    height: $engine-logo-len;
    width: $engine-logo-len;
    margin-right: 2px;
  }
}

/* description */
%saladict-engine__description {
  max-height: $engine-max-height;
  overflow-y: scroll;
  // hide scroll bar
  margin-right: -($panel-width + 10px);
  padding-right: $panel-width;
}

.saladict-engine__description--article {
  @extend %saladict-engine__description;
}

.saladict-engine__description--list {
  @extend %saladict-engine__description;
  margin-bottom: $font-size;
}


/* from description list */
.saladict-engine__pron {
  margin-top: $font-size * 0.3;
  margin-bottom: $font-size * 0.3;
}

.saladict-engine__cdef {
  & > li {
    list-style-type: none;
    display: table;
  }
}

.saladict-engine__pos {
  display: table-cell;
  width: $font-size * 2.5;
  text-align: right;
  font-weight: bold;
}

.saladict-engine__def {
  display: table-cell;
  padding-left: $font-size;
}

/* from description article */
.saladict-engine__mt {
  text-indent: $article-indent;
  text-align: justify;
  margin-bottom: $font-size / 2;
}

.saladict-engine__more {
  margin-left: $article-indent / 2;
  padding-left: $article-indent / 2 - 2px;
  border-left: 2px $color-gray solid;
  text-align: justify;
}

/* pronunciation icon */
.saladict-engine__voice {
  display: inline-block;
  width: $engine-voicelogo-len;
  height: $engine-voicelogo-len;
  margin: 0 $font-size 0 $font-size * 0.3;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/voice.gif');

  &:hover {
    background-position: -24px 0;
  }
}

.saladict-icon__voice {
  color: $color-orange;
  font-size: 1.5em;
  padding: 0 $font-size 0 $font-size * 0.3;
}

.saladict-engine__linebreak {
  margin: $font-size * 0.3 0;
}

/* other components */
@import './howjsay/index';
@import './dictcn/index';
