<section class="saladict-engine saladict-transition-fade" :class="{'saladict-is-hidden': isHidden}">
  <aside class="saladict-engine__aside">
    <a :href="data.href" target="_blank">
      <figure class="saladict-engine__logo">
        <img :src="logo" alt="bing logo">
        <figcaption>{{data.engine}}</figcaption>
      </figure>
    </a>
  </aside>
  <div class="saladict-engine__pron" :class="{'saladict-is-invisible': !data.phsym}">
      <template v-for="p in data.phsym">
        <span class="saladict-engine__phsym">{{p.lang}}: {{p.al}}</span><i class="saladict-iconfont saladict-icon__voice" @click="voicePlay(p.pron)" @mouseenter="readyVoicePlay(p.pron)" @mouseleave="cancelVoicePlay" v-if="p.pron"></i> 
      </template>
      <hr class="saladict-engine__linebreak">
  </div>
  <div class="saladict-engine__description--list" v-if="data.cdef">
    <ul class="saladict-engine__cdef">
      <li v-for="item in data.cdef">
        <span class="saladict-engine__pos">{{item.pos}}.</span><span class="saladict-engine__def">{{item.def}}.</span>
      </li>
    </ul>
  </div>
  <article class="saladict-engine__description--article" v-if="data.mt">
    <p class="saladict-engine__mt">{{{data.mt}}}</p>
    <p class="saladict-engine__more" v-if="data.more">{{{data.more}}}</p>
  </article>
</section>
