.dictNaver-EntryBox {
  border: 1px solid #eee;
  padding: 1em 0.5em 0.5em;
  margin-top: 1.4em;
  position: relative;

  .dictNaver-Entry {
    margin-bottom: 4px;
  }

  .dictNaver-EntryBoxTitle {
    position: absolute;
    top: 0;
    left: 0.8em;
    transform: translateY(-50%);
    padding: 0 0.4em;
    font-size: 1.3em;
    font-weight: bold;
    background: var(--color-background);
  }

  .dictNaver-EntryTitle {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2em;
  }

  .dictNaver-EntrySup {
    margin: 0 4px;
  }

  .dictNaver-EntryKanji {
    font-size: 1.1em;
    font-weight: bold;
  }

  .dictNaver-EntryPron {
    display: inline-block;

    .dictNaver-EntryPronVal {
      margin-right: 4px;
      color: #666;
    }

    .dictNaver-EntryPronFa {
      display: inline-block;
      height: 14px;
      line-height: 14px;
      margin-right: 4px;
      border: 1px solid #e0e0e0;
      padding: 0 2px;
      font-size: 12px;
      color: #999;
    }
  }

  .dictNaver-EntryExp {
    .dictNaver-EntryExpPos {
      color: #71829f;
      margin: 0 4px;
    }
  }

  .dictNaver-EntrySource {
    color: #969696;
    display: inline-block;
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }
}

.dictNaver-MeanBox {
  border: 1px solid #eee;
  padding: 1em 0.5em 0.5em;
  margin-top: 1.4em;
  position: relative;

  .dictNaver-MeanBoxTitle {
    position: absolute;
    top: 0;
    left: 0.8em;
    transform: translateY(-50%);
    padding: 0 0.4em;
    font-size: 1.3em;
    font-weight: bold;
    background: var(--color-background);
  }

  .dictNaver-MeanTitle {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2em;
  }

  .dictNaver-MeanAlias {
    color: #5b5b5b;
    margin: 0 4px;
  }

  .dictNaver-MeanPron {
    display: inline-block;
  }

  .dictNaver-MeanExp {
    .dictNaver-MeanExpPos {
      color: #71829f;
      margin: 0 4px;
    }

    .dictNaver-MeanExpLg {
      color: #858585;
      margin-right: 4px;
    }
  }

  .dictNaver-MeanSource {
    color: #969696;
    display: inline-block;
    margin-top: 2px;
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }
}

.dictNaver-ExampleBox {
  border: 1px solid #eee;
  padding: 1em 0.5em 0.5em;
  margin-top: 1.4em;
  position: relative;

  .dictNaver-ExampleBoxTitle {
    position: absolute;
    top: 0;
    left: 0.8em;
    transform: translateY(-50%);
    padding: 0 0.4em;
    font-size: 1.3em;
    font-weight: bold;
    background: var(--color-background);
  }

  .dictNaver-ExampleTitle {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2em;
  }

  .dictNaver-ExamplePron {
    display: inline-block;
  }

  .dictNaver-ExampleSource {
    color: #969696;
    display: inline-block;
    margin-top: 2px;
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }
}

ruby {
  margin-right: 4px;

  & rt {
    color: #fb5b63;
  }
}
