{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "chrome": "55"
      }
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
