root: true

env:
  browser: true
  es6: true

rules:
  brace-style: [2, "1tbs"]
  comma-style: [2, "last"]
  default-case: 2
  func-style: [0]
  guard-for-in: 2
  indent: [2, 2]
  no-console: 0
  no-extra-semi: 0
  no-floating-decimal: 2
  no-nested-ternary: 2
  no-undefined: 2
  no-unused-vars: 0
  quotes: [2, "single", "avoid-escape"]
  radix: 2
  semi: [2, "never"]
  space-after-keywords: [2, "always"]
  space-before-blocks: 2
  spaced-comment: [2, "always", { exceptions: ["-"]}]
  strict: [2, "global"]
  valid-jsdoc: [0]
  wrap-iife: [2, "outside"]
