/*-----------------------------------------------*\
    Custom reset
\*-----------------------------------------------*/

@import '~normalize.css';

h1, h2, h3, h4, ul, li, button {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;

  &:hover {
    outline: none;
  }
}

a {
  color: #16a085;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
