.saladict-theme {
  background-color: #fff;
  color: #333;
  --color-brand: #5caf9e;
  --color-background: #fff;
  --color-rgb-background: 255, 255, 255;
  --color-font: #333;
  --color-font-grey: #666;
  --color-divider: #ddd;

  &.darkMode {
    background-color: #222;
    color: #ddd;
    --color-brand: #218c74;
    --color-background: #222;
    --color-rgb-background: 34, 34, 34;
    --color-font: #ddd;
    --color-font-grey: #aaa;
    --color-divider: #4d4748;
  }
}
