// Max 2^31 − 1 = 2147483647

$global-zindex-dropdown-backdrop: 2147483639 !default;
$global-zindex-navbar:            2147483640 !default;
$global-zindex-dropdown:          2147483641 !default;
$global-zindex-fixed:             2147483642 !default;
$global-zindex-sticky:            2147483643 !default;
$global-zindex-modal-backdrop:    2147483644 !default;
$global-zindex-modal:             2147483645 !default;
$global-zindex-popover:           2147483646 !default;
$global-zindex-tooltip:           2147483647 !default;


$global-zindex-dicteditor:        2147483645;
$global-zindex-dictpanel-dragbg:  2147483646;
$global-zindex-dictpanel:         2147483647;
$global-zindex-bowl:              2147483647;
