.saladict-engine--dictcn {
  position: absolute;
  z-index: $z-index + 1;
  top: 0;
  right: $engine-horizontal-padding;

  width: 290px;
  height: 220px;
  padding: 0 0 2px 4px;
  background-color: $color-background;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
}
