:root:root:root:root:root {
  .saladict-WordEditor {
    @extend %reset-important;
    position: fixed !important;
    z-index: $global-zindex-popover !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
  }
}
