:root:root:root:root:root {
  .saladict-WordEditor {
    @extend %reset-important;
    position: fixed !important;
    z-index: $global-zindex-popover !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
  }

  .saladict-WordEditor-enter {
    will-change: opacity;
    opacity: 0 !important;
  }

  .saladict-WordEditor-enter-active {
    opacity: 1 !important;
  }

  .saladict-WordEditor-exit {
    will-change: opacity;
    opacity: 1 !important;
  }

  .saladict-WordEditor-exit-active {
    opacity: 0 !important;
  }

  /*-----------------------------------------------*\
      States
  \*-----------------------------------------------*/

  .isAnimate {
    &.saladict-WordEditor {
      transition: opacity 0.5s !important;
    }
  }
}
