.saladict-form-btns {
  margin-top: 50px;

  button {
    margin-right: 8px;
    margin-bottom: 12px;
  }
}

.saladict-form-profile-title {
  cursor: help;

  .anticon {
    color: #f5222d;
    margin-right: 0.5em;
  }
}

.saladict-hide {
  display: none !important;
}
