.saladict-form-btns {
  margin-top: 50px;

  button {
    margin-right: 8px;
    margin-bottom: 12px;
  }
}

.saladict-hide {
  display: none !important;
}

.saladict-form-danger-extra .ant-form-item-extra {
  color: #c0392b;
}
