:root:root:root:root:root {
  .saladict-DictPanel {
    @extend %reset-important;
    position: fixed !important;
    z-index: $global-zindex-tooltip !important;
    overflow: hidden !important;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 23px -6px !important;
  }

  .saladict-DictPanel-enter {
    opacity: 0 !important;
  }

  .saladict-DictPanel-enter-active {
    opacity: 1 !important;
  }

  .saladict-DictPanel-exit {
    opacity: 1 !important;
  }

  .saladict-DictPanel-exit-active {
    opacity: 0 !important;
  }

  /*-----------------------------------------------*\
      States
  \*-----------------------------------------------*/
  .isAnimate {
    &.saladict-DictPanel {
      will-change: width, height, left, top !important;
      transition: opacity 0.2s,
                  width 0.4s, height 0.4s,
                  top 0.4s cubic-bezier(0.55, 0.82, 0.63, 0.95),
                  left 0.4s cubic-bezier(0.4, 0.9, 0.71, 1.02)
                  !important;

      &.isDragging {
        transition: width 0.4s, height 0.4s !important;
      }
    }

    &.saladict-DictPanel-enter,
    &.saladict-DictPanel-entering {
      will-change: opacity, width, height, left, top !important;
      transition: opacity 0.2s,
                  width 0.4s, height 0.4s,
                  top 0.4s cubic-bezier(0.55, 0.82, 0.63, 0.95),
                  left 0.4s cubic-bezier(0.4, 0.9, 0.71, 1.02)
                  !important;
    }

    &.saladict-DictPanel-exit {
      will-change: opacity, width, height;
      transition: opacity 0.1s, width 0.4s, height 0.4s !important;
    }
  }
}
