$bowl-width: 30px;

:root:root:root:root:root {
  .saladict-SaladBowl {
    @extend %reset-important;
    position: fixed !important;
    z-index: $global-zindex-tooltip !important;
    left: 0 !important;
    top: 0 !important;
    width: $bowl-width !important;
    height: $bowl-width !important;
    user-select: none !important;
    cursor: pointer !important;
  }

  .saladict-SaladBowl_Leaf {
    @extend %reset-important;
    position: absolute !important;
    z-index: 1 !important;
    top: 50 * $bowl-width / 1024 !important;
    left: 600 * $bowl-width / 1024 !important;
    width: $bowl-width * 729 / 1024 * 0.6 !important;
    height: $bowl-width * 0.6 !important;
    background: no-repeat center/($bowl-width * 729 / 1024 * 0.6) ($bowl-width * 0.6) url(@/assets/leaf.svg) !important;
    cursor: pointer !important;
  }

  .saladict-SaladBowl_Orange {
    @extend %reset-important;
    position: absolute !important;
    z-index: 2 !important;
    top: 0 * $bowl-width / 1024 !important;
    left: 195 * $bowl-width / 1024 !important;
    width: $bowl-width * 0.6 !important;
    height: $bowl-width * 0.6 !important;
    background: no-repeat center/($bowl-width * 0.6) ($bowl-width * 0.6) url(@/assets/orange.svg) !important;
    cursor: pointer !important;
  }

  .saladict-SaladBowl_Tomato {
    @extend %reset-important;
    position: absolute !important;
    z-index: 3 !important;
    top: 80 * $bowl-width / 1024 !important;
    left: 5 * $bowl-width / 1024 !important;
    width: $bowl-width * 0.6 !important;
    height: $bowl-width * 0.6 !important;
    background: no-repeat center/($bowl-width * 0.6) ($bowl-width * 0.6) url(@/assets/tomato.svg) !important;
    cursor: pointer !important;
  }

  .saladict-SaladBowl_Bowl {
    @extend %reset-important;
    position: absolute !important;
    z-index: 4 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: $bowl-width !important;
    height: $bowl-width * 530 / 1024 !important;
    background: no-repeat center/$bowl-width ($bowl-width * 530 / 1024) url(@/assets/bowl.svg) !important;
    cursor: pointer !important;
  }

  /*-----------------------------------------------*\
      States
  \*-----------------------------------------------*/

  .isAnimate {
    &.saladict-SaladBowl {
      will-change: top, left !important;
      transition: top 0.3s ease-out, left 0.3s ease-out !important;

      &.bowlHover:hover {
        .saladict-SaladBowl_Leaf {
          animation: saladict-SaladBowl_Leaf-shake 1s infinite linear;
        }
        .saladict-SaladBowl_Orange {
          animation: saladict-SaladBowl_Orange-spin 1s infinite linear;
        }
        .saladict-SaladBowl_Tomato {
          animation: saladict-SaladBowl_Tomato-shake 0.7s infinite linear;
        }
      }
    }

    &.saladict-SaladBowl-enter {
      will-change: transform !important;
      animation: saladict-SaladBowl_Jelly 1000ms linear;
    }
  }
}

@keyframes saladict-SaladBowl_Jelly {
      0% { transform: matrix3d(0.500, 0, 0, 0, 0, 0.500, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   3.40% { transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   4.70% { transform: matrix3d(0.725, 0, 0, 0, 0, 0.800, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   6.81% { transform: matrix3d(0.830, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
   9.41% { transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.070, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(1.104, 0, 0, 0, 0, 1.120, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.075, 0, 0, 0, 0, 0.980, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.990, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(0.980, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.000, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(1.000, 0, 0, 0, 0, 1.000, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1.000, 0, 0, 0, 0, 1.000, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes saladict-SaladBowl_Leaf-shake {
  0% { transform: translate( 2px,  1px) rotate(0deg); }
 10% { transform: translate(-1px, -2px) rotate(1deg); }
 20% { transform: translate(-2px,  0  ) rotate(1deg); }
 30% { transform: translate( 0  ,  2px) rotate(0deg); }
 40% { transform: translate( 1px, -1px) rotate(1deg); }
 50% { transform: translate(-1px,  2px) rotate(1deg); }
 60% { transform: translate(-2px,  1px) rotate(0deg); }
 70% { transform: translate( 2px,  1px) rotate(1deg); }
 80% { transform: translate(-1px, -1px) rotate(1deg); }
 90% { transform: translate( 2px,  2px) rotate(0deg); }
100% { transform: translate( 1px, -2px) rotate(1deg); }
}

@keyframes saladict-SaladBowl_Orange-spin {
from { transform: rotate(  0deg); }
  to { transform: rotate(360deg); }
}

@keyframes saladict-SaladBowl_Tomato-shake {
  0% { transform: rotate(10deg); }
 30% { transform: rotate( 0deg); }
 60% { transform: rotate(10deg); }
 90% { transform: rotate( 0deg); }
100% { transform: rotate( 5deg); }
}
