@import '@/content/components/DictPanel/DictPanelStandalone.scss';

html,
body,
#root {
  position: static;
  height: 100%;
  margin: 0;
  padding: 0;
  // hide white spaces
  font-size: 0;
}

#root {
  overflow: hidden;
}

.popup-root {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  width: 450px;
  height: 550px;
  font-size: 14px;
}
