.MachineTrans-Text {
  .saladict-Speaker {
    position: absolute;
    left: 0;
    top: 2px;
    margin: 0;
  }

  summary {
    cursor: pointer;
  }
}

.MachineTrans-Lines {
  position: relative;
  margin: 0.5em 0;
  padding-left: 1.5em;

  p {
    margin: 0.3em 0;
  }
}

.MachineTrans-LangSwitchWrap {
  position: relative;
  min-height: 1.2em;
}

.MachineTrans-LangSwitchBtn {
  position: absolute;
  font-weight: bold;
  color: #f9690e;
  cursor: pointer;
  background: transparent;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

.MachineTrans-LangSwitch {
  display: flex;
  position: relative;
  z-index: 100;

  select {
    background: transparent;
  }
}

.MachineTrans-LangSwitch_Titles,
.MachineTrans-LangSwitch_Selects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin: 5px;
}

.MachineTrans-LangSwitch_Selects {
  select:first-child {
    margin-bottom: 5px;
  }
}

/*-----------------------------------------------*\
    States
\*-----------------------------------------------*/
.isAnimate {
  .MachineTrans-LangSwitch-enter {
    opacity: 0;
    transition: opacity 0.1s;
  }
  .MachineTrans-LangSwitch-enter-active {
    opacity: 1;
  }

  .MachineTrans-LangSwitch-exit {
    opacity: 1;
    transition: opacity 0.1s;
  }
  .MachineTrans-LangSwitch-exit-active {
    opacity: 0;
  }
}

.MachineTrans-lang-ar, // Arabic
.MachineTrans-lang-ara, // Arabic
.MachineTrans-lang-az, // Azerbaijani
.MachineTrans-lang-fa, // Persian
.MachineTrans-lang-he, // Hebrew
.MachineTrans-lang-iw, // Hebrew
.MachineTrans-lang-ku, // Kurdish
.MachineTrans-lang-ug, // Uighur
.MachineTrans-lang-ur // Urdu
{
  direction: rtl !important;
}

.MachineTrans-has-rtl {
  text-align: right;

  .MachineTrans-Lines {
    padding-left: 0;
    padding-right: 1.5em;
  }

  .saladict-Speaker,
  .MachineTrans-LangSwitchBtn {
    left: auto;
    right: 0;
  }
}

@font-face {
  font-family: "UKIJ Tuz Basma";
  src: url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.woff2")
      format("woff2"),
    url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.woff")
      format("woff"),
    url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.ttf")
      format("truetype"),
    url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.svg#UKIJTuzBasma-Bold")
      format("svg");
  font-style: normal;
}

.MachineTrans-lang-ug {
  font-family: "UKIJ Tuz Basma" !important;
}
