.MachineTrans-Text {
  .saladict-Speaker {
    position: absolute;
    left: 0;
    top: 2px;
    margin: 0;
  }

  summary {
    cursor: pointer;
  }
}

.MachineTrans-Lines {
  position: relative;
  margin: 0.5em 0;
  padding-left: 1.5em;

  p {
    margin: 0.3em 0;
  }
}

.MachineTrans-Lines-collapse {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(90deg, rgba(255,255,255,0) 50%, var(--color-background) 90%);
    pointer-events: none;
  }

  button {
    height: 1.5em;
    padding: 0;
    text-align: start;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 1em;
    font-weight: normal;
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
  }
}

/*-----------------------------------------------*\
    States
\*-----------------------------------------------*/
.MachineTrans-lang-ar, // Arabic
.MachineTrans-lang-ara, // Arabic
.MachineTrans-lang-az, // Azerbaijani
.MachineTrans-lang-fa, // Persian
.MachineTrans-lang-he, // Hebrew
.MachineTrans-lang-iw, // Hebrew
.MachineTrans-lang-ku, // Kurdish
.MachineTrans-lang-ug, // Uighur
.MachineTrans-lang-ur // Urdu
{
  direction: rtl !important;

  &.MachineTrans-Lines-collapse {
    &::after {
      background: linear-gradient(270deg, rgba(255,255,255,0) 50%, var(--color-background) 90%);
    }
  }
}

.MachineTrans-has-rtl {
  text-align: right;

  .MachineTrans-Lines {
    padding-left: 0;
    padding-right: 1.5em;
  }

  .saladict-Speaker {
    left: auto;
    right: 0;
  }
}

@font-face {
  font-family: "UKIJ Tuz Basma";
  src: url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.woff2")
      format("woff2"),
    url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.woff")
      format("woff"),
    url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.ttf")
      format("truetype"),
    url("https://ws-image-cdn.subat.cn/fonts/ukij-tuz-basma-bold/UKIJTuzBasma-Bold.svg#UKIJTuzBasma-Bold")
      format("svg");
  font-style: normal;
}

.MachineTrans-lang-ug {
  font-family: "UKIJ Tuz Basma" !important;
}
