.saladict-engine__more--pron {
  @extend .saladict-engine__more;
  margin-bottom: $font-size / 2;

  &:last-child {
    margin-bottom: 0;
  }

  & > a {
    color: $color-gray;
  }

  & > a:hover {
    color: $font-color;
    text-decoration: underline;
  }
}
