@import '@/_sass_global/_reset.scss';
@import '@/components/Speaker/Speaker.scss';
@import '@/components/EntryBox/EntryBox.scss';

.dictRoot {
  font-size: var(--panel-font-size);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
