@import './DictItemHead.scss';

.dictItem {
  position: relative;
  background: var(--panel-background-color);
}

.dictItem-Body {
  overflow: hidden;
  position: relative;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 13px;
  line-height: 1.6;
  color: var(--panel-color);
}

.dictItem-BodyMesure {
  // clear margin collapsing which seems to causing flickering
  // when changing the parent height
  overflow: hidden;
  opacity: 0;
  // react-resize-reporter
  position: relative;

  > *:first-child {
    margin-top: 10px !important;
  }

  > *:last-child {
    margin-bottom: 10px !important;
  }
}

.dictItem-Loader {
  align-self: center;
  width: 120px;
  height: 10px;
  user-select: none;
}

.dictItem-Loader_Ball {
  width: 10px;
  height: 10px;
  fill: orange;

  &:nth-child(2) {
    transform: translateX(15px);
  }
  &:nth-child(3) {
    transform: translateX(30px);
  }
  &:nth-child(4) {
    transform: translateX(45px);
  }
  &:nth-child(5) {
    transform: translateX(60px);
  }
}

.dictItem-FoldMask {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  border: none;
  background: linear-gradient(
    transparent 40%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0.9) 100%
  );
  cursor: pointer;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      transparent 40%,
      rgba(225, 225, 225, 0.2) 60%,
      rgba(225, 225, 225, 0.7) 100%
    );
    opacity: 0;
  }

  &:hover {
    outline: none;

    &::after {
      opacity: 1;
    }
  }
}

.dictItem-FoldMaskArrow {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  fill: #000;
}

/*-----------------------------------------------*\
    States
\*-----------------------------------------------*/

.isUnfold {
  .dictItem-BodyMesure {
    opacity: 1;
  }
}

.isAnimate {
  .dictItem-Loader_Ball {
    animation: dictItem-Loader-shift 2s linear infinite;

    &:nth-child(2) {
      animation-delay: -0.4s;
    }
    &:nth-child(3) {
      animation-delay: -0.8s;
    }
    &:nth-child(4) {
      animation-delay: -1.2s;
    }
    &:nth-child(5) {
      animation-delay: -1.6s;
    }
  }

  .dictItem-FoldMask::after {
    will-change: opacity;
    transition: opacity 400ms;
  }

  .dictItem-BodyMesure {
    transition: opacity 0.4s;
  }

  .dictItem-Body {
    transition: height 0.4s, opacity 0.4s;
  }
}

@keyframes dictItem-Loader-shift {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    transform: translateX(30px);
    opacity: 1;
  }
  90% {
    transform: translateX(80px);
    opacity: 1;
  }
  100% {
    transform: translateX(110px);
    opacity: 0;
  }
}
