@import '@/_sass_shared/_reset.scss';
@import '@/components/Speaker/Speaker.scss';
@import '@/components/EntryBox/EntryBox.scss';

.dictRoot {
  font-size: var(--panel-font-size);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;

  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: .6em 1.4em .5em .8em;
    border-radius: .5em;
    font-size: var(--panel-font-size);
    font-weight: 700;
    line-height: 1.3;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(133, 133, 133, 0.28);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    color: var(--color-font-grey);
    background-color: var(--color-background);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235caf9e%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: rgba(133, 133, 133, 0.48);
    }

    &:focus {
      border-color: rgba(59, 153, 252, .7);;
      outline: none;
    }

    option {
      font-weight: normal;
    }
  }
}
