/*-----------------------------------------------*\
    Variables
\*-----------------------------------------------*/
@import '../_sass_global/variables';
@import '../_sass_global/z-indices';
@import '../_sass_global/interfaces';

/*-----------------------------------------------*\
    Reset
\*-----------------------------------------------*/
@import '../_sass_global/reset';

/*-----------------------------------------------*\
    Base
\*-----------------------------------------------*/
select {
  background: transparent;
  height: 2em;
}

/*-----------------------------------------------*\
    Components
\*-----------------------------------------------*/
@import '../content/components/DictPanel/style';
@import '../content/components/MenuBar/style';
@import '../content/components/DictItem/style';

@import '../components/Speaker/style';
@import '../components/withStaticSpeaker/style';
