/*------------------------------------*\
  z-index
\*------------------------------------*/

$global-zindex-dropdown-backdrop:  9900 !default;
$global-zindex-navbar:            10000 !default;
$global-zindex-dropdown:          10000 !default;
$global-zindex-fixed:             10300 !default;
$global-zindex-sticky:            10300 !default;
$global-zindex-modal-backdrop:    10400 !default;
$global-zindex-modal:             10500 !default;
$global-zindex-popover:           10600 !default;
$global-zindex-tooltip:           10700 !default;
