/*------------------------------------*\
  z-index
\*------------------------------------*/

$global-zindex-dropdown-backdrop:  990000000 !default;
$global-zindex-navbar:            1000000000 !default;
$global-zindex-dropdown:          1000000000 !default;
$global-zindex-fixed:             1030000000 !default;
$global-zindex-sticky:            1030000000 !default;
$global-zindex-modal-backdrop:    1040000000 !default;
$global-zindex-modal:             1050000000 !default;
$global-zindex-popover:           1060000000 !default;
$global-zindex-tooltip:           1070000000 !default;
