.saladict-panel {
  position: fixed;
  z-index: $z-index;
  overflow: hidden;

  width: $panel-width;

  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  
  background-color: $color-background;
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.saladict-engines {
  position: relative;
}

.saladict-loader-wrapper {
  height: $engine-max-height / 2;
}

.saladict-panel__header {
  position: relative;
  height: $panel-header-height;
  margin-bottom: 1px;
  color: $color-white;
  background-color: $color-green;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.saladict-panel__header.-saladict-grabbing {
  cursor: grabbing;
}

.saladict-panel__search {
  position: absolute;
  height: $panel-header-height;
}

.saladict-panel__aside {
  position: absolute;
  right: 0;
  height: $panel-header-height;
  line-height: $panel-header-height;
}

.saladict-panel__title {
  background-color: $color-green;
  border: 0;
  width: $panel-width / 4;
  margin-left: $font-size-icon;
  padding-right: $font-size-icon;
  border-bottom: 1px $color-white solid;

  text-overflow: ellipsis;
  font-size: $font-size-large;
  font-family: $font-family;
  font-weight: bold;

  transition: width 2s ease;
}

.saladict-panel__title:focus {
  width: $panel-width / 5 * 3;
}

.saladict-icon__search {
  position: absolute;
  right: 0;
  top: 0;
}

.saladict-panel__aside {
  .saladict-iconfont {
    display: inline-block;
    width: $font-size-icon;
    height: $font-size-icon;
    color: $color-white;
    line-height: $panel-header-height;
    margin-right: 5px;
  }
}

@import '../engines/index';
