.sortable-list-item {
  button,
  .ant-radio-inner,
  .ant-radio-inner::after {
    transition: none !important;
  }

  .ant-btn-icon-only.ant-btn-sm {
    > * {
      font-size: 16px;
    }

    .anticon svg {
      display: block;
    }
  }
}

.sortable-list-item-btns {
  min-width: fit-content;
}
