body {
  overflow-y: scroll;
  // Firefox table will always overflow
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.ant-pagination {
  float: none !important;
  display: flex;
  justify-content: center;
}

.wordpage-Container {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 64px;
}

.wordpage-Header {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (max-width: 800px) {
    padding: 0 5px !important;
  }
}

.wordpage-Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
}

.wordpage-Title_head {
  margin-bottom: 5px;
  color: #fff;
}

.wordpage-Title_small {
  font-size: 0.6em;
  vertical-align: middle;

  @media screen and (max-width: 720px) {
    display: none !important;
  }
}

.wordpage-Wordcount {
  margin-left: 10px;
  color: #fff;
}

.wordpage-BtnGroup {
  display: flex;
  align-items: center;
  margin-left: auto;
  white-space: nowrap;
}

.wordpage-Content {
  background: #fff;
}

.wordpage-Record_Context {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #e8e8e8;
}

.wordpage-Source_Footer {
  margin: 0;
}

.wordpage-Record_Favicon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: sub;
}

.wordpage-Record_Title {
  font-size: 12px;
  color: #aaa;
}

.wordEditorPanel-Background {
  z-index: 998 !important;
}
