.saladict-dict-title {
  word-break: break-all;

  & > * {
    word-break: keep-all;
    white-space: nowrap;
  }
}

.saladict-dict-title-icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.saladict-dict-title-link {
  color: currentColor;
}

.saladict-dict-langs-char {
  margin-left: 5px;
  padding: 0 2px;
  font-size: 0.92em;
  color: #777;
  border: 1px solid #777;
  border-radius: 2px;
}
