.social-media__body {
  display: flex;
  padding: 8px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 3px 4px 31px -8px rgba(0,0,0,0.8);
}

.social-media__icon {
  position: relative;
  width: 42px;
  height: 42px;
  margin: 5px;
  list-style-type: none;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;

    &:hover {
      background: rgba(0,0,0,.1)
    }
  }
}
