.social-media__body {
  display: flex;
  padding: 0;
}

.social-media__icon {
  position: relative;
  width: 42px;
  height: 42px;
  margin: 5px;
  list-style-type: none;

  svg {
    width: 42px;
    height: 42px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;

    &:hover {
      background: rgba(0,0,0,.1)
    }
  }
}
