#gg_bslot_a,
#gg_bslot_b {
  text-align: center;
}

.btmslot_a-container {
  width: 100%;
}

#gg_bslot_a {
  margin-bottom: 20px;
}

.contentslot,
.mpuslot_b {
  margin-top: 20px;
  text-align: center;
}

.nr-box {
  border: 1px solid #af9a87;
  padding: 15px;
  background: #fff;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.nr-box h2,
.nr-box .h2 {
  margin-bottom: 0.5em;
}

.nr-box .view_more a {
  opacity: 0.7;
  text-decoration: none;
  margin-top: 1em;
  display: block;
  font-size: 0.8em;
}

.login_wrapper .login_social .facebook i {
  color: #3e5a98;
}

.hc_user_form .button,
.profile_wrapper .button,
.comment .button,
.recent_word_suggestions_search .button {
  background-color: #194480;
  color: white;
  padding: 0.5em 1em;
  border: 0;
  text-decoration: none;
  display: inline-block;
}

.hc_user_form .button i,
.profile_wrapper .button i,
.comment .button i,
.recent_word_suggestions_search .button i {
  vertical-align: -2px;
  margin-left: 0.5em;
}

.register_content .register_social .facebook i {
  color: #3e5a98;
}

.search-desktop .specialchar div.button-special {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.31);
  border-radius: 4px;
  display: inline-block;
  line-height: 46px;
  margin: 1px;
  text-align: center;
  width: 46px;
  cursor: pointer;
}

.suggested_word_wrapper h1.h2_entry {
  font-size: 1.8em;
}

.suggested_word_wrapper .content .nr-box-header:after {
  display: initial;
}

.verbtable_content .type,
.verbtable_content .conjugation {
  margin-left: 12px;
  border-bottom: 1px dotted #c5c5c5;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.verbtable_content .type {
  min-height: 60px;
}

.verbtable_content .type h3,
.verbtable_content .conjugation h3 {
  font-size: 1.2em;
  color: #0069b3;
}

.shiyi_content .nr-box {
  padding-top: 0;
}

.shiyi_content .nr-box-origin {
  border-left: solid 4px #669eff;
}

.shiyi_content .nr-box-wordlists,
.shiyi_content .nr-box-synonyms,
.shiyi_content .nr-box-quotations {
  border-left: solid 4px #d49882;
}

.shiyi_content .nr-box-images {
  border-left: solid 4px #bb1;
}

.shiyi_content .nr-box-translation {
  border-right: solid 4px #194885;
}

.shiyi_content .nr-box-shiyi.jbjs {
  border-right: solid 4px #c99464;
}

.shiyi_content .nr-box-shiyi.xxjs {
  border-right: solid 4px #ea8a61;
}

.shiyi_content .nr-box-shiyi.gyjs {
  border-right: solid 4px #6a0000;
}

.shiyi_content .nr-box-shiyi.cyjs {
  border-right: solid 4px #e8ad62;
}

.shiyi_content .nr-box-shiyi.kxzd {
  border-right: solid 4px #e8ad62;
}

.shiyi_content .nr-box-shiyi.swjz {
  border-right: solid 4px #aea4a4;
}

.shiyi_content .nr-box-shiyi.yyfy {
  border-right: solid 4px #8899bd;
}

.shiyi_content .nr-box-shiyi.zyzx {
  border-right: solid 4px #c69f7b;
}

.shiyi_content .nr-box-shiyi.wytl {
  border-right: solid 4px #88abc3;
}

.shiyi_content .nr-box-shiyi.zyyy {
  border-right: solid 4px #9c7474;
}

.shiyi_content .nr-box-derived {
  border-right: solid 4px #5f167d;
}

.shiyi_content .nr-box-usage {
  border-right: solid 4px #78ad79;
}

.shiyi_content .nr-box-translations {
  border-right: solid 4px #ff8c4d;
}

.shiyi_content .nr-box-examples {
  border-right: solid 4px #1c7744;
}

.shiyi_content .nr-box-comments {
  border-right: solid 4px #3b8e8d;
}

.shiyi_content .nr-box-learners {
  border-right: solid 4px #467f7f;
}

.shiyi_content .nr-box-nearby-words {
  border-right: solid 4px #bb5454;
}

.shiyi_content .nr-box-header:after {
  content: ' ';
  display: block;
  clear: both;
}

.shiyi_content .nr-box-header {
  background: #f3e8df;
  padding: 10px 15px;
  margin: 0 -15px 1em -15px;
  font-size: 12px;
}

.cdet .shiyi_content .nr-box .nr-box-header,
.shiyi_content .content .nr-box-header {
  background: 0;
  padding: 0;
  margin: 0;
}

.shiyi_content .nr-box-shiyi.jbjs .nr-box-header,
.shiyi_content .nr-box-learners .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.xxjs .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.kxzd .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.swjz .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.yyfy .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.zyzx .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.wytl .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-examples .nr-box-header {
  background: #deefe3;
}

.shiyi_content .nr-box-translations .nr-box-header {
  background: #fff6dd;
}

.shiyi_content .nr-box-nearby-words .nr-box-header {
  background: #ffefeb;
}

.shiyi_content .nr-box-origin .nr-box-header {
  background: #eff7ff;
}

.shiyi_content .nr-box-comments .nr-box-header {
  background: #dbf7dc;
}

.shiyi_content .nr-box-usage .nr-box-header {
  background: #e9ffe3;
}

.shiyi_content .nr-box-images .nr-box-header {
  background: #f4ffd4;
}

.shiyi_content .nr-box-videos .nr-box-header {
  background: #ffebeb;
}

.shiyi_content .nr-box-wordlists .nr-box-header {
  background: #fff1e6;
}

.shiyi_content .nr-box-quotations .nr-box-header {
  background: #fff1e6;
}

.shiyi_content .nr-box-header .h2_entry {
  margin-bottom: 0;
}

.shiyi_content .nr-box-videos .entryVideo {
  width: 100%;
  max-width: 640px;
  height: 320px;
}

.shiyi_content .h2_entry {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.shiyi_content .nr-box-shiyi h2.h2_entry {
  font-size: 1.8em;
}

.shiyi_content .definitions .thes {
  margin-top: 0.8em;
}

.shiyi_content .xxjscz_box {
  margin-right: 10px;
}

.shiyi_content .xxjscz_box,
.shiyi_content ol li,
.shiyi_content .thesaurus_synonyms,
.verbtable_content .headword_link,
.shiyi_content .link-right.verbtable {
  margin-bottom: 1em;
}

.shiyi_content strong,
.shiyi_content .nr-box-synonyms .firstSyn,
.shiyi_content .nr-box-nearby-words .current,
.shiyi_content .cit-type-xxjs .orth,
.shiyi_content .xxjscz_box .author,
.shiyi_content .thesaurus_synonyms .synonym:first-of-type,
.shiyi_content .nr-box-translation .phr {
  font-weight: bold;
}

.shiyi_content .lbl.type-register,
.shiyi_content .lbl.misc,
.shiyi_content .colloc,
.shiyi_content #synonyms_content .thesaurus_synonyms .lbl,
.shiyi_content #synonyms_content .thesaurus_synonyms .misc {
  font-style: italic;
}

.shiyi_content .lbl.type-syntax {
  font-size: 0.8em;
  color: var(--color-font-grey);
}

.shiyi_content .nr-box-synonyms .h2_entry {
  display: inline-block;
}

.shiyi_content .nr-box-synonyms .extra-link {
  display: inline-block;
  margin-left: 1em;
}

.shiyi_content .ref.type-thesaurus,
.shiyi_content .nr-box-synonyms .thesaurus-link-plus,
.shiyi_content .link-right.verbtable,
.shiyi_content .extra-link,
.shiyi_content .nr-box-examples .button,
.verbtable_content .headword_link {
  background: #e5ebf3;
  display: inline-block;
  padding: 2px 10px;
  border: 0;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 2px;
}

.shiyi_content .h2_entry .dictname,
.shiyi_content .h2_entry .lbl.type-misc {
  font-size: 16px;
}

.shiyi_content .audio_play_button,
.audio_play_button {
  color: #ec2615;
  vertical-align: middle;
  -webkit-transition: transform 0.2s, text-shadow 0.2s;
  transition: transform 0.2s, text-shadow 0.2s;
  border: 0;
}

.shiyi_content .h2_entry .homnum {
  background-color: #1c4b8b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  vertical-align: super;
}

.shiyi_content .zdict .quote {
  color: #555;
  font-style: italic;
}

.shiyi_content .zdict .biling .quote {
  font-style: normal;
}

.shiyi_content .zdict .cit.type-translation .quote {
  font-weight: bold;
}

.shiyi_content .nr-box:after,
.shiyi_content .zdict .content:after {
  content: '';
  clear: both;
  display: table;
}

.shiyi_content .cit.type-quotation .quote,
.shiyi_content .nr-box-quotations .quote,
.shiyi_content .nr-box-examples .quote,
.shiyi_content .nr-box-thesaurus .quote {
  display: block;
  margin-top: 1em;
}

.shiyi_content .cit.type-quotation .author,
.shiyi_content .nr-box-quotations .author,
.shiyi_content .nr-box-examples .author,
.shiyi_content .nr-box-thesaurus .author {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
}

.shiyi_content .cit.type-quotation .title,
.shiyi_content .nr-box-quotations .title,
.shiyi_content .nr-box-examples .title,
.shiyi_content .nr-box-thesaurus .title {
  display: inline;
  font-variant: small-caps;
  font-style: italic;
  font-size: 0.8em;
}

.shiyi_content .cit.type-quotation .year,
.shiyi_content .nr-box-quotations .year,
.shiyi_content .nr-box-examples .year,
.shiyi_content .nr-box-thesaurus .year {
  font-size: 0.8em;
  font-style: italic;
}

.shiyi_content .nr-box-syn-of-syns div.type-syn_of_syn_head .orth,
.shiyi_content .thesbase .key,
.context-dataset-english-thesaurus .author,
.shiyi_content .rend-b {
  color: #1683be;
}

.page {
  font-size: 16px;
}

.page .dictname {
  font-size: 0.7em;
}

.page .zdict .copyright .i {
  color: gray;
}

.copyright {
  display: none;
  color: gray;
  font-size: small;
  margin-top: 10px;
}

.page .metadata {
  display: none;
}

.page .infls,
.page .description,
.page .title,
.page .url,
.page .summary,
.page .og,
.page .infls,
.page .description,
.page .title,
.page .url,
.page .summary,
.page .og {
  display: block;
}

.page .assetref {
  display: block;
}

.page .assettype {
  font-weight: bold;
  color: blue;
}

.page .dictentry {
  margin-bottom: 20px;
}

.page .assets_intro,
.page .asset_intro {
  color: green;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
}

.page .zdict .re .hom {
  display: inline;
}

.page .zdict .re {
  display: block;
}

.page .jbjs .hom {
  display: block;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.page .jbjs .sense {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.25em;
}

.page .zdict .sense {
  display: block;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.page .zdict .sense.inline {
  display: inline;
  margin-left: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.page .zdict .inline {
  display: inline;
}

.page .zdict .newline {
  display: block;
}

.page .jbjs br {
  display: none;
}

.page .zdict .subc,
.page .zdict .colloc {
  font-style: italic;
  font-weight: normal;
}

.page .zdict .re .pos {
  font-style: italic;
}

.page .zdict .b {
  font-weight: bold;
}

.page .zdict .form.type-infl .orth {
  font-weight: bold;
}

.page .zdict .form.type-drv .orth {
  font-weight: bold;
}

.page .zdict .form.type-inflected {
  display: none;
}

.page .zdict .hi.rend-b {
  font-weight: bold;
}

.page .zdict .hi.rend-sc {
  font-variant: small-caps;
}

.page .zdict .hi.rend-u {
  text-decoration: underline;
  font-size: inherit;
}

.page .zdict .hi.rend-r {
  font-weight: normal;
  font-style: normal;
}

.page .zdict .hi.rend-sup {
  vertical-align: super;
  font-size: smaller;
}

.page .zdict .hi.rend-sub {
  vertical-align: sub;
  font-size: smaller;
}

.page .zdict .hi.rend-i {
  font-style: italic;
}

.page .zdict .i {
  font-weight: normal;
  font-style: italic;
  color: black;
}

.page .zdict .note {
  color: black;
  line-height: 1.4em;
  font-style: normal;
  background-color: #e9eef4;
  margin: 6px 0;
  padding: 6px 4px 6px 18px;
  font-weight: normal;
  display: block;
}

.page .zdict .posp {
  font-size: 80%;
  text-transform: uppercase;
}

.page .zdict .r {
  font-style: normal;
}

.page .zdict .sub {
  vertical-align: sub;
  font-size: smaller;
}

.page .zdict .sup {
  vertical-align: super;
  font-size: smaller;
}

.page .zdict .u {
  text-decoration: underline;
}

.page .zdict .block {
  display: block;
  margin-top: 3px;
}

.page .hin .block {
  display: block;
  margin-top: 15px;
  margin-bottom: 7.5px;
}

.page .zdict .bolditalic {
  font-weight: bold;
  font-style: italic;
}

.page span.bold {
  font-weight: bold;
}

.page span.bluebold {
  font-weight: bold;
  color: #1c4b8b;
}

.page span.italics,
.page span.ital {
  font-style: italic;
}

.page span.sensenum {
  margin-left: -1.3em;
  float: left;
  font-weight: bold;
  font-size: 1.1em;
}

.page .zdict .cit.type-translation .quote {
  font-style: normal;
  color: #1683be;
}

.page .zdict .cit.type-translation .pos {
  font-style: bold;
}

.page .zdict a:hover {
  color: #f9690e;
}

.page .zdict .var {
  font-weight: bold;
}

.page .zdict .power {
  float: right;
}

.page .zdict .power .i {
  color: #1c4b8b;
  font-size: inherit;
}

.page .zdict .hom_subsec {
  display: block;
}

.page .zdict .definitions,
.page .zdict .derivs,
.page .zdict .etyms {
  margin-bottom: 1em;
}

.page .zdict .inflected_forms {
  display: block;
  padding-bottom: 1.25em;
}

.page .zdict .scbold {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

.page .zdict .note .scbold {
  display: block;
}

.page .zdict .pron .ptr {
  color: red;
}

.page .zdict .list,
.page .zdict .relwordgrp {
  display: block;
  margin-left: 20px;
}

.page .zdict .listitem,
.page .zdict .relwordunit {
  display: list-item;
}

.page .zdict .type-syngrp,
.page .zdict .type-antgrp {
  display: block;
}

.page .asset.Corpus_Examples_EN .quote {
  font-style: italic;
}

.page .jbjs .sense {
  margin-left: 0;
}

.page .cit.type-xxjs .content {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}

.page .cit.type-xxjs .author {
  font-weight: bold;
  font-style: italic;
}

.page .cit.type-xxjs .title {
  display: inline;
  font-variant: small-caps;
  font-style: italic;
}

.page .cit.type-xxjs .ref.type-def {
  text-decoration: none;
  color: inherit;
}

.page .biling .lbl {
  font-style: italic;
  color: #555;
}

.page .biling .lbl.type-subj {
  font-variant: small-caps;
}

.page .biling .lbl.type-subj .lbl {
  font-variant: normal;
}

.page .biling .lbl.type-tm {
  font-style: normal;
}

.page .biling .lbl.type-tm_hw {
  font-size: 0.78em;
}

.page .biling .lbl.type-infl span,
.page .biling .lbl.type-infl {
  font-style: normal;
  color: #1c4b8b;
  font-weight: normal;
}

.page .biling br {
  display: none;
}

.page .biling .phrasals .re .orth {
  font-size: 1.25em;
}

.page .biling .sense .re {
  font-size: 100%;
  margin-left: 0;
}

.page .hin .form.type-syn .orth,
.page .hin .form.type-ant .orth,
.page .hin .form.type-phr .orth {
  font-weight: normal;
  font-size: 100%;
}

.page .biling .re {
  display: block;
  margin-left: 1em;
}

.page .thesbase .form.type-syn {
  margin-left: 0.5em;
}

.page .thesbase .synunit .cit {
  display: inline;
}

.page .thesbase .def {
  display: block;
}

.page .thesbase .xr.type-theslink {
  display: inline-block;
  margin-left: 20px;
}

.page .thesbase .relwgrp {
  display: block;
  margin-left: 1em;
}

.page .thesbase .table {
  display: block;
}

.page .thesbase .caption {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  font-size: larger;
}

.page .thesbase .bibl {
  display: block;
}

.page .thesbase .bibl .title {
  display: inline;
}

.page .thesbase .cit.type-proverb {
  display: block;
}

.page .thesbase .tr {
  display: table-row;
}

.page .thesbase .td {
  display: table-cell;
  padding: 3px;
}

.page .thesbase .th {
  display: table-cell;
  font-weight: bold;
}

.page .thesbase .cit.type-xxjs,
.page .thesbase .cit.type-xxjs .crefe {
  display: inline;
  padding-left: 0.25em;
}

.page .thesbase .note {
  background-color: transparent;
  padding: 0;
  margin-top: 10px;
  overflow: hidden;
}

.page .thesbase .note .tr {
  display: block;
  margin-bottom: 20px;
}

.page .thesbase .tr .td:first-child {
  background-color: #e9eef4;
  font-weight: bold;
  color: #1c4b8b;
  padding: 5px 15px;
}

.page .thesbase .note .td {
  padding: 8px 15px;
  display: block;
}

.page .thesbase .note .th {
  display: none;
}

.page .nr-box-syn-of-syns .syns_container .form.type-syn .orth {
  font-weight: bold;
}

.page .thesbase .link {
  text-decoration: underline;
  font: 14px/1 'Microsoft Yahei', sans-serif, Arial, Verdana;
  background: #e5ebf3;
  color: #1c4b8b;
  padding: 0.3em 0.8em;
  margin: 5px 0;
  display: inline-block;
}

.page .thesbase .sense {
  margin-bottom: 2em;
}

.page .thesbase .author {
  font-weight: bold;
  font-style: italic;
}

.cdet .nr-box-origin {
  padding-top: 0;
  padding-bottom: 0;
}

.page .thesbase .sensehead > .sensenum {
  float: none;
}

.page .thesbase .scbold {
  background: #efefef;
  padding: 0.5em 22px;
  margin: 2em 0 1em 0;
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  display: block;
}

.page .nr-box-syn-of-syns div.type-syn_of_syn_head {
  display: inline-block;
}

.page .nr-box-syn-of-syns div.type-syn_of_syn_head .orth,
.page .thesbase .key {
  font-weight: bold;
  margin-right: 0;
  display: inline-block;
  margin-left: 0;
  padding: 0.3em 0.8em;
  border: 0;
  font-size: 1.1em;
  padding-left: 0;
  padding-bottom: 0;
}

.page .thesbase .key {
  padding-right: 0;
}

.page .thesbase .firstSyn {
  color: black;
  font-size: 0.9em;
}

.page .nr-box-syn-of-syns .syns_head {
  margin-top: 2.2em;
}

.page .nr-box-syn-of-syns .syns_example {
  line-height: 2.5em;
}

.page .type-ant.columns3,
.page .nr-box-syn-of-syns .columns3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.page .nr-box-syn-of-syns .syns_items {
  display: block;
}

.pagination a.prev,
.pagination a.next,
.pagination a.page,
.pagination span.page,
.pagination p,
.pagination p a {
  padding: 0.3em 0.8em;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: 0;
}

.pagination a.prev,
.pagination a.next,
.pagination a.page {
  background: #e5ebf3;
  color: #194885;
}

.pagination span.page,
.pagination p,
.pagination p a {
  background: #194885;
  color: #e5ebf3;
}

.page .nr-box-syn-of-syns .lbl,
.page .nr-box-syn-of-syns .lbl span,
.page .zdict.thesbase .lbl,
.page .zdict.thesbase .lbl span {
  font-style: italic;
  color: green;
}

.page .zdict.thesbase .sensebody {
  display: block;
  margin: 0.5em 0 0.5em 6px;
}

.page .thesbase span.bold {
  font-weight: bold;
}

.page .thesbase span.kerntouch {
  letter-spacing: -0.18em;
}

.page .thesbase span.kern60 {
  letter-spacing: -0.6em;
}

.page .thesbase span.manualdiacritic {
  vertical-align: 25%;
  letter-spacing: -1em;
}

.page .thesbase span.numerator {
  vertical-align: 35%;
  font-size: smaller;
}

.page .thesbase span.numerator_back {
  position: absolute;
  vertical-align: 35%;
  letter-spacing: -1em;
  font-size: smaller;
}

.page .thesbase span.denominator {
  vertical-align: -35%;
  font-size: smaller;
}

.page .thesbase span.italics {
  font-weight: normal;
  font-style: italic;
  color: black;
}

.page .thesbase span.homnum {
  font-weight: bold;
  color: #fff;
  vertical-align: super;
  font-size: 50%;
}

.page .thesbase span.sensenum {
  font-weight: bold;
}

.page .thesbase span.QA {
  font-style: italic;
  color: red;
  font-size: 90%;
}

.page .thesbase hr {
  width: 50%;
  text-align: left;
  border: 3px inset #777;
  height: 6px;
  margin: 10px auto 5px 0;
}

.page .thesbase .cit.type-quotation {
  display: block;
}

.page .thesbase .cit.type-quotation > .quote,
.page .thesbase .cit.type-proverb > .quote,
.page .thesbase .cit.type-quotation > .bibl {
  display: block;
  margin-left: 1em;
  padding-left: 0;
}

.page .thesbase > .re.type-phr .xr {
  margin-left: 1em;
  font-weight: bold;
}

.page .thesbase .div .xr {
  display: block;
  margin-left: 1em;
}

.cdet .sense .type-ant div.invisibleElements,
.cdet .sense .form.type-syn.invisibleElements {
  display: none;
}

.cdet .sense.moreAnt .type-ant div,
.cdet .sense.moreSyn .form.type-syn.head {
  display: block;
}

.cdet .page .zdict .sense,
.cdet .sense.moreSyn {
  margin-left: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dbdada;
  position: relative;
  overflow: hidden;
}

.cdet .nr-box-syn-of-syns .syns_container {
  padding-left: 1.9em;
}

.cdet .zdict.thesbase .sensebody,
.cdet div[data-type-block] .sense .sensebody {
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  padding-right: 1.9em;
  padding-left: 1.9em;
  line-height: 1.5em;
  font-size: 0.9em;
}

.cdet .nr-box-syn-of-syns div[data-type-block] .sense .def,
.cdet .nr-box-syn-of-syns div[data-type-block] .sense .syns_example {
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  line-height: 1.5em;
  font-size: 0.9em;
  padding-right: 0;
  padding-left: 0;
}

.cdet .zdict .sense .synonymBlock {
  cursor: pointer;
}

.cdet .zdict .sense.opened,
.cdet div[data-type-block] .sense.opened {
  margin-left: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dbdada;
  cursor: auto;
  position: relative;
}

.cdet .zdict.thesbase .sense.opened .sensebody,
.cdet div[data-type-block] .sense.opened .sensebody {
  overflow: auto;
  text-overflow: inherit;
  white-space: inherit;
}

.cdet .syns_container .form.type-syn,
.cdet .nr-box-syn-of-syns .form.type-syn,
.cdet .form.type-syn,
.cdet .type-ant div {
  margin-left: 0.5em;
}

.cdet .nr-box-syn-of-syns .sense.moreSyn {
  margin-bottom: 0.5em;
}

.cdet .form.type-syn .orth,
.cdet .type-ant .orth,
.cdet .syns_container .form.type-syn .orth {
  background-color: transparent;
  border: 0;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  color: #4d4e51;
  margin: 0;
  padding: 0 0.2em;
}

.cdet .zdict .content,
.cdet .form.type-syn {
  position: relative;
}

.cdet .zdict .hom,
.cdet .zdict .syn_of_syns {
  overflow: hidden;
}

.cdet .sense.moreinfo .form .orth:after {
  display: block;
}

.cdet .type-ant,
.cdet .nr-box-syn-of-syns .syns_container {
  padding-left: 0;
  margin-left: 0;
}

.cdet .nr-box-comments {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.cdet .nr-box-comments,
.cdet .nr-box-origin,
.cdet .nr-box-nearby-words,
.cdet .zdict .content,
.cdet .nr-box-syn-of-syns {
  border-left: none;
  box-shadow: none;
}

.cdet .re.type-phr .xr,
.cdet .nr-box-nearby-words li {
  margin-left: 0;
  padding-left: 0.85em;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  display: block;
}

.cdet .nr-box-syn-of-syns div.type-syn_of_syn_head {
  display: block;
}

.cdet .nr-box-syn-of-syns .sense .def {
  padding-left: 1em;
}

.cdet .nr-box-syn-of-syns .sense .def,
.cdet .nr-box-syn-of-syns .sense .syns_example {
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  line-height: 1.5em;
  font-size: 0.9em;
  color: #4d4e51;
}

.cdet .nr-box-syn-of-syns .quote {
  font-style: italic;
}

.cdet div[data-type-block] .sense.opened .sensebody,
.cdet .nr-box-syn-of-syns .sense.opened .def,
.cdet .nr-box-syn-of-syns .sense.opened .syns_example {
  overflow: auto;
  white-space: normal;
}

.cdet .nr-box-syn-of-syns .syns_head {
  margin-top: 0;
}

.cdet .form.type-syn .titleTypeSubContainer {
  display: block;
}

.cdet .cit.type-quotation > .bibl {
  font-size: 0.85em;
}

.cdet .cit.type-quotation {
  margin-left: 0;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}

.cdet .re.type-phr > .titleTypeContainer,
.cdet .cit.type-quotation > .titleTypeContainer {
  margin-bottom: 1em;
}

.cdet .cit.type-quotation > .quote {
  line-height: 1.3em;
  margin-bottom: 0.3em;
}

.cdet .cit.type-quotation .title,
.cdet .cit.type-quotation .author {
  font-size: inherit;
}

.cdet .zdict .quote {
  color: #4d4e51;
  font-style: italic;
  display: block;
  font-size: 0.9em;
}

.homograph-entry .grammar .page {
  display: block;
  border: solid 1px;
  font-family: arial, helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 40px;
}

.homograph-entry .grammar a.previous,
.homograph-entry .grammar a.next {
  background: #e5ebf3;
  color: #194885;
  padding: 0.5em 1em;
  font-weight: bolder;
  border-bottom: 0;
  float: left;
  margin-top: 1em;
}

.homograph-entry .grammar a.next {
  float: right;
}

.homograph-entry .grammar a.previous:hover,
.homograph-entry .grammar a.next:hover {
  color: #194885;
}

.homograph-entry .grammar a.previous i,
.homograph-entry .grammar a.next i {
  font-size: 1.3em;
  vertical-align: middle;
  padding-right: 8px;
  padding-left: 8px;
  display: inline-block;
}

.homograph-entry .grammar .exmplblk ul {
  padding-left: 0;
}

.homograph-entry .grammar .exmplblk {
  padding: 0.5em;
}

.homograph-entry .grammar .exmplgrp ul {
  padding-left: 20px;
  padding-bottom: 10px;
}

.homograph-entry .grammar .intro.suppressed {
  display: none;
}

.homograph-entry .grammar h2 {
  font-size: 16pt;
  line-height: 2em;
  text-decoration: underline;
}

.homograph-entry .grammar h3 {
  font-size: 14pt;
}

.homograph-entry .grammar h4 {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 1em;
}

.homograph-entry .grammar u {
  text-decoration: underline;
}

.homograph-entry .grammar .lemma {
  font-weight: bold;
}

.homograph-entry .grammar .caption {
  font-weight: bold;
  margin-top: 1.5em;
}

.homograph-entry .grammar .p {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.homograph-entry .grammar .group {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.homograph-entry .grammar .exmpl {
  font-weight: normal;
  font-style: italic;
}

.homograph-entry .grammar .i {
  font-style: italic;
}

.homograph-entry .grammar .post {
  font-style: italic;
}

.homograph-entry .grammar .posp {
  font-weight: bold;
  font-style: normal;
}

.homograph-entry .grammar .pattern {
  font-family: sans-serif;
}

.homograph-entry .grammar .ul {
  margin-top: 5px;
  list-style-type: none;
  padding-left: 15px;
}

.homograph-entry .grammar ul.arrow {
  list-style-type: square;
}

.homograph-entry .grammar ul.star {
  list-style-type: disc;
}

.homograph-entry .grammar ul.alpha {
  list-style-type: lower-alpha;
}

.homograph-entry .grammar ol {
  margin-top: 5px;
  list-style-type: decimal;
}

.homograph-entry .grammar .li.exmpl {
  font-style: italic;
}

.homograph-entry .grammar .lemmalist .li {
  margin-top: 10px;
}

.homograph-entry .grammar .lemmalist {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  margin: 4px;
  margin-top: 2em;
  padding: 1em;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.homograph-entry .grammar div.greyborder2 {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  margin: 4px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.homograph-entry .grammar th,
.homograph-entry .grammar td {
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em 1.4em;
}

.homograph-entry .grammar th {
  background-color: #ddd;
  font-weight: bold;
  font-size: 0.9em;
}

.homograph-entry .grammar table {
  border-collapse: collapse;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.homograph-entry .grammar a.block {
  display: block;
}

.homograph-entry .grammar i.i_chevron-thin-right {
  display: inline-block;
  font-weight: bold;
  width: 2em;
  text-align: center;
  font-size: 0.6em;
}

.homograph-entry .grammar .group a:before,
.homograph-entry .grammar .section a:before,
.homograph-entry .grammar .posGr a:before,
.homograph-entry .grammar .subpattern a:before,
.homograph-entry .grammar .pattern a:before,
.homograph-entry .grammar .chapter a:before {
  display: block;
  content: '';
}

.homograph-entry .grammar .breadcrumb {
  margin-bottom: 2em;
}

.zyyy span.label {
  width: 0.8em;
  display: inline-block;
  color: #0058a9;
  font-weight: bold;
}

.zyyy span.label1 {
  width: 0.8em;
  display: inline-block;
}

.shiyi_content .zib-title {
  float: right;
  font-size: 16px;
}

.shiyi_content .zi-b-img,
.shiyi_content .zib-title .label {
  display: inline-block;
}

.shiyi_content .zi-b-container .level {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  background-color: #f2928e;
}

.shiyi_content .zi-b-container .level.roundRed {
  background-color: #e52920;
}

.shiyi_content .zi-b-container .level1 {
  width: 14px;
  height: 14px;
}

.shiyi_content .zi-b-container .level2 {
  width: 15px;
  height: 15px;
}

.shiyi_content .zi-b-container .level3 {
  width: 16px;
  height: 16px;
}

.shiyi_content .zi-b-container .level4 {
  width: 17px;
  height: 17px;
}

.shiyi_content .zi-b-container .level5 {
  width: 18px;
  height: 18px;
}

.shiyi_content .zi-b-container .round {
  width: 100%;
  height: 100%;
}

.shiyi_content .zi-b-container.relevance .level {
  border-radius: 0;
  width: 15px;
  vertical-align: bottom;
}

.shiyi_content .zi-b-container.relevance .level1 {
  background: #f6b26b;
  height: 10px;
}

.shiyi_content .zi-b-container.relevance .level2 {
  background: #f6b26b;
  height: 13px;
}

.shiyi_content .zi-b-container.relevance .level3 {
  background: #ffd966;
  height: 16px;
}

.shiyi_content .zi-b-container.relevance .level4 {
  background: #ffd966;
  height: 19px;
}

.shiyi_content .zi-b-container.relevance .level5 {
  background: #b6d7a8;
  height: 22px;
}

.shiyi_content .zi-b-container.relevance .level6 {
  background: #b6d7a8;
  height: 25px;
}

.i_volume-up:before {
  content: '\f028';
}

.favadd:before {
  content: '\2729';
}

.favdel:before {
  content: '\2605';
}

main > .zdict,
main > .browse_wrapper,
main > .spellcheck_wrapper,
main > .content_wrapper,
main > .submit_new_word_wrapper,
main > .word_submitted_wrapper,
main > .suggested_word_wrapper {
  width: calc(100% - 160px);
  float: left;
}

main > .zdict,
main > .browse_wrapper,
main > .spellcheck_wrapper,
main > .content_wrapper,
main > .submit_new_word_wrapper,
main > .word_submitted_wrapper,
main > .suggested_word_wrapper {
  width: 100%;
  float: none;
}

.res_s {
  display: none;
}

.page .type-ant.columns3,
.page .nr-box-syn-of-syns .columns3 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.mpuslot_b-container {
  min-width: 320px;
  width: 100%;
  margin: 0 0 0 -15px;
  padding: 0;
  z-index: 10000;
}

.page .zdict .power {
  display: none;
}

.nr-box,
.page .Corpus_Examples_EN .content,
.shiyi_content .nr-box,
.wotd-txt-block,
.yczsl-content {
  padding: 10px;
}

.shiyi_content .nr-box {
  padding-top: 0;
}

.shiyi_content .nr-box-header {
  margin: 0 -10px 1em -10px;
}

.shiyi_content .nr-box.jbjs.br .nr-box-header::after {
  content: none;
}

main > .zdict,
main > .browse_wrapper,
main > .spellcheck_wrapper,
main > .content_wrapper,
main > .submit_new_word_wrapper,
main > .word_submitted_wrapper,
main > .suggested_word_wrapper {
  width: 100%;
  float: none;
}

.res_t {
  display: none;
}

.res_d {
  display: none;
}

.pl-zdic a {
  border-bottom: none;
}

.zib-title .icon-star {
  background: #9c7474;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  padding-top: 3px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.shiyi_content .h2_entry .spanr {
  display: inline-block;
  float: right;
}

.zib-title .icon-star {
  padding-top: 4px;
}

.dicpy {
  font-family: Arial;
  color: #f9690e;
  font-weight: normal;
}

.jnr li {
  list-style-type: none;
}

.jnr,
.bknr,
.wknr {
  margin: 0.5em;
  line-height: 1.5em;
}

.shiyi_content .jnr ul {
  list-style: none;
  counter-reset: li;
}

.shiyi_content .jnr ul li::before {
  content: counter(li);
  color: red;
  display: inline-block;
  width: 2em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

.shiyi_content .jnr li {
  counter-increment: li;
}

.shiyi_content .nr-box-shiyi.cyjs {
  border-right: solid 4px #e8ad62;
}

.shiyi_content .nr-box-shiyi.wljs {
  border-right: solid 4px #aea4a4;
}

.shiyi_content .nr-box-shiyi.cyjs .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

.shiyi_content .nr-box-shiyi.wljs .nr-box-header {
  border-bottom: solid 1px #af9a87;
}

span.z_ts2,
span.z_ts3,
span.z_ts4 {
  height: 18px;
  line-height: 18px;
  color: #f9690e;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  margin-right: 5px;
  padding: 0;
}

span.z_ts2 {
  background-position: 0 -78px;
  width: 33px;
}

span.z_ts3 {
  background-position: -33px -78px;
  width: 47px;
}

span.z_ts4 {
  background-position: 0 -114px;
  width: 55px;
}

.dicpy {
  font-size: 1.3em;
  font-family: Arial;
  color: #f9690e;
}

.diczx1 {
  color: #f9690e;
}

.cino {
  font-weight: bold;
}

.encs {
  color: #339900;
}

.smcs {
  font-weight: bold;
  color: #f9690e;
}

.yhcs {
  color: #f9690e;
  font-weight: bold;
}

.crefe {
  border-bottom: dashed 1px rgba(0, 0, 0, 0.6);
  margin-right: 1em;
}

.enbox {
  padding: 10px 0 5px 0;
  border-top: 1px solid rgba(133, 133, 133, 0.28);
  margin: 5px;
  background: rgba(254, 249, 249, 0.2);
}

@media screen and (max-width: 761px) {
  .cdet .navigation .nav {
    display: none;
  }

  .cdet .more {
    margin: 10px auto 10px auto;
    width: 50%;
  }
}

@media screen and (max-width: 761px) {
  .navigation .tabsNavigation {
    overflow-x: auto;
  }
}

@media screen and (max-width: 761px) {
  [class*='res_c'] {
    clear: both;
    width: 100%;
    margin: 0 0 10px 0;
  }

  .res_c_center_content,
  .res_c_2_3_content {
    padding: 0;
  }

  header .left,
  header .right,
  header .center {
    padding: 0.3em;
  }

  header .logo {
    width: 130px;
    margin-left: 5px;
    line-height: inherit;
  }

  .homepage header .left {
    float: none;
  }

  .zmenu .drop {
    box-shadow: none;
    margin-left: 15px;
  }

  .zmenu .drop,
  .zmenu .drop:after {
    display: none;
  }

  .zmenu .drop .this_page {
    padding-left: 0;
    padding-right: 0;
  }

  .zmenu .drop .zmenu_i {
    padding: 0;
  }

  .shiyi_content .entry_title {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .login_wrapper .login_or_signup,
  .login_wrapper .sign_up,
  .profile_wrapper .profile_block,
  .profile_wrapper .profile_body {
    float: none;
    margin: 0;
    width: auto;
  }

  #gg_tslot {
    width: 320px;
    min-height: 50px;
    display: table;
    margin: 0 auto;
  }

  .topslot_container {
    margin-bottom: 10px;
  }

  .mpuslot_b {
    width: 320px;
    margin: 0 auto;
  }

  .lies .lie_x {
    display: block;
    width: auto;
    padding-right: 0;
    min-height: 0;
  }

  .yczsl,
  .yczsl {
    min-height: 0;
  }

  .search-desktop {
    display: none;
  }

  .searchPanelOpen .search-desktop {
    display: block;
    width: auto;
    margin: 4px;
    clear: both;
    margin-bottom: 16px;
  }

  .search-desktop .custom-select {
    display: block;
    position: absolute;
    left: 0;
    opacity: 0.001;
    width: 50px;
    height: 100%;
  }

  .search-desktop .cs_m {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .cdet .sense.moreinfo .form *[class*='type'] {
    display: block;
  }

  .shiyi_content .h1_entry {
    line-height: 1.2em;
  }

  .cdet .titleTypeContainer .titleType {
    margin: 0;
  }
}

p {
  padding-left: 1em;
}

.cino {
  margin-left: -1em;
}

a:hover {
  color: #f9690e;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.6);
}

.gnr .pz {
  border-bottom: 1px dashed rgba(133, 133, 133, 0.28);
}
.gnr .pz ruby {
  margin-left: 20px;
}
.gnr .pz ruby rbc {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.gnr .pz ruby rtc {
  font-size: 12px;
  color: #8f6652;
  line-height: 30px;
}
.gnr .def {
  margin: 5px 0 5px;
  line-height: 1.6em;
}
.pz {
  border-bottom: 1px dashed rgba(133, 133, 133, 0.28);
  padding-bottom: 5px;
}
.pz ruby {
  margin-left: 20px;
  font-size: 1.5em;
}
.pz ruby rbc {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.pz ruby rtc {
  font-size: 12px;
  color: #8f6652;
  line-height: 30px;
}

ruby {
  display: inline-table;
  text-align: center;
  white-space: nowrap;
  text-indent: 0;
  margin: 0;
  vertical-align: -20%;
}

ruby > rb,
ruby > rbc {
  display: table-row-group;
  line-height: 90%;
}

ruby > rt,
ruby > rbc + rtc {
  display: table-header-group;
  font-size: 60%;
  line-height: 40%;
  letter-spacing: 0;
}

ruby > rbc + rtc + rtc {
  display: table-footer-group;
  font-size: 60%;
  line-height: 40%;
  letter-spacing: 0;
}

rbc > rb,
rtc > rt {
  display: table-cell;
  letter-spacing: 0;
}

/* rt[rbspan] should be transformed into td[colspan] but that requires xslt */
rtc > rt[rbspan] {
  display: table-caption;
}
rp {
  display: none;
}

.dichr {
  border-color: rgba(133, 133, 133, 0.28);
}

// #1244
.jbjs_ico {
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.2em;
  vertical-align: text-bottom;
}
