.mw-title-area {
  margin-bottom: 8px;
}

.mw-title {
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.25;
}

.mw-pos {
  color: var(--color-font-grey);
  font-style: italic;
  margin-left: 4px;
  margin-right: 3px;
}

.mw-prs {
  margin-bottom: 12px;
  border-width: thin;
  color: var(--color-font-grey);
  line-height: 1.6;
}

.mw-syllable {
  font-weight: bold;
  margin-right: 6px;
}

.mw-pt-text {
  display: inline-block;
  margin: 2px 6px 2px 0;
}

.mw-pt {
  color: var(--color-font-grey);
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 2px 6px 2px 0;
  padding: 1px 8px;
  display: inline-block;
  line-height: 1.5;
}

.mw-section {
  margin-bottom: 16px;
}

.mw-section-title {
  border-bottom: 1px solid var(--color-font-grey);
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.3;
  margin-bottom: 8px;
  padding-bottom: 3px;
}


.mw-mg-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.mw-mg-left {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 10px;
  align-items: center;
}

.mw-mg-sign {
  font-size: 1.12em;
  font-weight: bold;
  line-height: 1.55;
  min-width: 20px;
  text-align: center;
}

.mw-mg-line {
  flex: auto;
  background: var(--color-divider);
  border-radius: 2px;
  width: 1px;
}

.mw-mg-right {
  flex: 1;
  margin-top: 3px;
  min-width: 0;
}

.mw-mean-area {
  display: block;
  font-size: 1.05em;
  letter-spacing: 0.01em;
  line-height: 1.55;
  margin-bottom: 8px;
}

.mw-mean-text {
  display: inline;
}

.mw-mean-sign {
  font-weight: bold;
  display: inline-block;
  margin-right: 6px;
}

.mw-mean-ex-area {
  padding-left: 12px;
}

.mw-mean-ex-item {
  color: var(--color-font-grey);
  border-left: 2px solid var(--color-divider);
  padding-left: 8px;
  line-height: 1.45;
  margin-top: 6px;
  margin-bottom: 6px;
}

.mw-extra {
  margin-top: 16px;
  line-height: 1.55;
}

.mw-extra-title {
  border-bottom: 1px solid var(--color-font-grey);
  font-size: 1.15em;
  padding-bottom: 3px;
}
