<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/popup.css">
</head>
<body>

  <header class="header">
    <h1 class="title">{{title}}</h1>
  </header>

  <ul class="config-list">
    <li class="config-item">
      <section class="config-item__title">
        {{opts.appActive.title}}
        <input type="checkbox" 
          id="opt-app-active" 
          class="config-item__switch-button" 
          v-model="opts.appActive.value"
          @change="upload | debounce 500"/>
        <label for="opt-app-active"></label>
      </section>
      <section class="config-item__description"></section>
    </li>

    <fieldset :disabled="!opts.appActive.value">
      <li class="config-item">
        <section class="config-item__title">
          {{opts.mode.iconTitle}}
          <input type="radio" 
            id="opt-icon-mode" 
            value="icon" 
            class="config-item__switch-button" 
            v-model="opts.mode.value"
            @change="upload | debounce 500"/>
          <label for="opt-icon-mode"></label>
        </section>

        <section class="config-item__title">
          {{opts.mode.directTitle}}
          <input type="radio" 
            id="opt-direct-mode" 
            value="direct" 
            class="config-item__switch-button" 
            v-model="opts.mode.value"
            @change="upload | debounce 500"/>
          <label for="opt-direct-mode"></label>
        </section>

        <section class="config-item__title">
          {{opts.mode.ctrlTitle}}
          <input type="radio" 
            id="opt-ctrl-mode" 
            value="ctrl" 
            class="config-item__switch-button" 
            v-model="opts.mode.value"
            @change="upload | debounce 500"/>
          <label for="opt-ctrl-mode"></label>
        </section>

        <section class="config-item__description">{{opts.mode.description}}</section>
      </li>

      <li class="config-item">
        <section class="config-item__title">
          {{opts.tripleCtrl.title}}
          <input type="checkbox" 
            id="opt-triple-ctrl" 
            class="config-item__switch-button" 
            v-model="opts.tripleCtrl.value"
            @change="upload | debounce 500"/>
          <label for="opt-triple-ctrl"></label>
        </section>

        <section class="config-item__description">{{opts.tripleCtrl.description}}</section>
      </li>

      <li class="config-item">
        <section class="config-item__title">
          {{opts.chineseMode.title}}
          <input type="checkbox" 
            id="opt-chinese-mode" 
            class="config-item__switch-button" 
            v-model="opts.chineseMode.value"
            @change="upload | debounce 500"/>
          <label for="opt-chinese-mode"></label>
        </section>

        <section class="config-item__title">
          {{opts.englishMode.title}}
          <input type="checkbox" 
            id="opt-english-mode" 
            class="config-item__switch-button" 
            v-model="opts.englishMode.value"
            @change="upload | debounce 500"/>
          <label for="opt-english-mode"></label>
        </section>

        <section class="config-item__description">{{opts.chineseMode.description}}</section>
      </li>
    </fieldset>
  </ul>

  <script src="../js/popup.js"></script>
</body>
</html>