#saladict-app {
  /* base */
  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $color-orange;
    font-weight: bold;
  }

  article {
    margin-top: $font-size;
    margin-bottom: $font-size;
  }

  /* fonts */
  .saladict-iconfont {
    font-family: 'saladict iconfont' !important;
    font-size: $font-size-icon;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    cursor: pointer;
  }

  .saladict-icon__close:before {
    content: '\e604';
  }

  .saladict-icon__close:hover:before {
    content: '\e604';
    font-weight: bold;
  }

  .saladict-icon__pin:before {
    content: '\e605';
  }

  .saladict-icon__pin:hover:before {
    content: '\e606';
  }

  .saladict-icon__chart:before {
    content: '\e603';
  }

  .saladict-icon__chart:hover:before {
    content: '\e602';
  }

  .saladict-icon__voice:before {
    content: '\e600';
  }

  .saladict-icon__voice:hover:before {
    content: '\e601';
  }

  .saladict-icon__search:before {
    content: '\e607';
  }

  .saladict-icon__search:hover:before {
    content: '\e607';
    font-weight: bold;
  }

  /* libs */
  @import '../../lib/loading';

  /* components */
  @import 'icon/index';
  @import 'panel/index';

  /* helpers & states */
  @import '../utils';
}
