.dictMacmillan-Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  margin-bottom: 5px;
}

.dictMacmillan-Header_Info {
  margin-left: 10px;
  color: #aaa;
}

.dictMacmillan-Title {
  font-size: 1.3em;
  font-weight: bold;
}

.dictMacmillan-Sences {
  margin: 0;
  padding-left: 15px;

  > li {
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }

  a:link,
  a:visited {
    color: #333;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: #16a085;
    border-bottom: thin dotted #16a085;
  }

  .SENSE-VARIANT,
  h3.SENSE-ENTRY,
  h2.MULTIWORD,
  h2.PHRASE-VARIANT {
    display: inline;
  }

  .SENSE-NUM,
  .foldimage {
    display: none;
  }

  .EXAMPLES {
    margin-bottom: 5px;
    padding-left: 10px;
    color: #666;
    border-left: #ddd solid 2px;
    font-style: italic;

    strong {
      font-style: normal;
    }

    a:link,
    a:visited {
      color: #666;
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: #16a085;
      border-bottom: thin dotted #16a085;
    }
  }

  .EXAMPLES + .EXAMPLES {
    margin-top: -5px;
    padding-top: 3px;
  }

  .DEFINITION + .EXAMPLES {
    margin-top: 5px;
  }

  .THES {
    margin-bottom: 5px;
  }

  .icon_thesaurus_small_bullet {
    font-weight: bold;
    color: #f9690e;
  }

  .thessnippet {
    margin-left: 10px;
  }

  .SYNTAX-CODING {
    margin-right: 0.5em;
  }

  .h2 {
    margin-right: 3px;
    font-weight: bold;
  }

  .centred {
    &::before {
      content: '>';
      color: #ccc8c8;
    }
  }

  .moreButton {
    &:link,
    &:visited {
      color: #ccc8c8;
    }
  }

  .ONEBOX-HEAD {
    font-weight: bold;
    color: #f9690e;
  }

  .sideboxbody {
    margin-left: 10px;
  }

  .SUB-SENSES {
    padding-left: 16px;
  }

  .sound,
  .audio_play_button {
    width: 16px;
    vertical-align: text-bottom;
    cursor: pointer;
  }
}

.dictMacmillan-Related {
  a {
    margin-left: 2em;
    color: #16a085;
  }
}
