@import '@/_sass_global/_z-indices.scss';
@import '@/components/FloatBox/FloatBox.scss';

.hoverBox-Container {
  display: inline-block;
  position: relative;
}

.hoverBox-FloatBox {
  position: absolute;
  z-index: $global-zindex-dictpanel;
}

.isAnimate {
  .hoverBox-enter {
    opacity: 0;
    transition: opacity 0.4s;
  }

  .hoverBox-enter-active,
  .hoverBox-exit {
    opacity: 1;
    transition: opacity 0.4s;
  }

  .hoverBox-exit-active {
    opacity: 0;
    transition: opacity 0.4s;
  }
}
