.Liscj .liscjWC {
  font-style: italic;
}

.Jmdct .jmdctYm,
.Jmdct .jmdctDm {
  margin: 4px 0 4px 0;
}

.Jmdct .jmdctGlsL {
  float: left;
  margin: 0;
  vertical-align: top;
  width: 20px;
}

.Jmdct .jmdctGlsR {
  float: left;
  margin: 0;
  vertical-align: top;
}

.Jmdct .jmdctL {
  background-color: #f0f0f0;
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1em;
  margin-right: 8px;
  padding: 1px;
}

.Jmdct table td.jmdctT {
  text-align: right;
  vertical-align: top;
  width: 70px;
}

.Jmned .jmnedYm,
.Jmned .jmnedDm,
.Jmned .jmnedGls {
  margin: 0;
  padding: 0;
}

.Jmned {
  border-collapse: collapse;
}

.Jmned table {
  border-collapse: collapse;
  border: 1px #696969 solid;
  width: 100%;
}

.Jmned table th {
  background-color: #f5f5f5;
  border: 1px #696969 solid;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
}

.Jmned table td {
  border: 1px #696969 solid;
  padding: 5px;
  line-height: 1.3em;
}

.Jmned .jmnedL {
  font-weight: bold;
}

.Jmned .jmnedC {
  width: 20%;
}

.Jmned .jmnedR {
  width: 60%;
}

.Jmned .jmnedInfo {
  background-color: #f5f5f5;
  border: #b5b6b5 solid 1px;
  font-size: 0.9em;
  line-height: 1.62em;
  margin: 1em 0 0 0;
  padding: 10px;
}

.Stwdj .stwdjS {
  border-left: #815733 solid 6px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 5px 0;
  padding-left: 3px;
}

.Stwdj .stwdjC,
.Stwdj .stwdjC a {
  line-height: 1em;
}

.Stwdj .stwdjHdC {
  background-color: #f0f0f0;
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  padding: 1px;
}

.Stwdj .stwdjYr {
  margin-top: 10px;
  padding: 5px;
}

.Stwdj .stwdjYr a {
  color: #000;
}

.Stwdj .stwdjYr a:hover {
  color: #000;
}

.Stwdj .stwdjYr a:active {
  color: #000;
}

.Stwdj .stwdjYr a:visited {
  color: #000;
}

.Stwdj .stwdjYr div {
  line-height: 1em;
  margin-left: 10px;
}

.Stwdj .stwdjYr sup {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.Stwdj .stwdjYrHd i,
.Stwdj .stwdjYrHdFld i {
  margin-bottom: -2px;
  margin-right: 3px;
}

.Stwdj .stwdjYrHd:before,
.Stwdj .stwdjYrHdFld:before {
  margin-right: 3px;
}

.Stwdj .stwdjYrHdFld img,
.Stwdj .stwdjYrHdFld span {
  cursor: pointer;
}

.Stwdj .stwdjYrHd .stwdjHdC {
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  margin-left: 16px;
  padding: 1px;
}

.Stwdj .stwdjYrHdFld .stwdjHdC {
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  padding: 1px;
}

.Stwdj .stwdjR,
.Stwdj .stwdjRF {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/iconCclBlS.png);
  background-position: 2px 8px;
  background-repeat: no-repeat;
  font-family: Arial;
  font-weight: normal;
  margin: 2px 0 0 24px;
  padding: 0 0 0 14px;
}

.Stwdj .stwdjRF {
  display: none;
}

.Stwdj .stwdjBld {
  font-weight: bold;
  font-weight: bold;
}

.Stwdj .stwdjNH,
.Stwdj .stwdjAH,
.Stwdj .stwdjNB {
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.Stwdj .stwdjNB {
  margin: 0.3em 0 0 0;
  padding: 0.1em 0 0 0;
}

.Edrnt .edrntC {
  background-color: #f0f0f0;
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  padding: 1px;
}

.Jjabc ruby {
  font-size: 120%;
}

.infobox.sisterproject {
  font-size: 90%;
  width: 20em;
}

td.sub_yomi {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/jinmei_haikei1.png);
  background-repeat: repeat-y;
  border-color: #b5d2e2;
  border-width: 1px 1px 0 0;
  border-style: solid;
  color: #4f519b;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  width: 80px;
}

td.item_yomi {
  border-top: 1px dashed #c0c0c0;
  padding: 5px 5px 5px 10px;
}

.Dkijt .kanren {
  text-indent: 0.75em;
}

.Jeepm table {
  border: #000 solid 1px;
  border-collapse: collapse;
  text-align: center;
}

.Jeepm td {
  border: #000 solid 1px;
  text-align: center;
}

.Jeepm .header {
  border-left: #fff solid 1px;
  border-right: #fff solid 1px;
  border-top: #fff solid 1px;
  font-weight: bold;
  text-align: left;
}

.LiscjYr .kanren {
  font-family: Arial;
  margin: 5px 0 0 24px;
}

.Wkgje .wkgjeL {
  float: left;
  margin: 0 0 0 4px;
  padding: 0;
  width: 80px;
}

.Wkgje .wkgjeR {
  float: left;
  margin: 0 0 0 4px;
  padding: 0;
  width: 500px;
}

.Jawik .level1Block {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  margin: 2px 0 2px 10px;
}

.Jawik .level1Block b {
  font-weight: bold;
}

.Jawik .level1,
.Jawik .level2,
.Jawik .level1Ex {
  display: inline;
}

.Jawik .level1 b,
.Jawik .level2 b,
.Jawik .level2Block b {
  background-color: #eee;
  border: #999 solid 1px;
  color: currentColor;
  font-weight: normal;
  padding: 0 2px;
  margin: 0 5px 0 2px;
}

.Wehgj .wehgjT span,
.Wehgj .wehgjE span,
.Wehgj .wehgjR span {
  border: #666 solid 1px;
  font-size: 0.9em;
  line-height: 1em;
  padding: 1px;
}

.Wehgj .wehgjE,
.Wehgj .wehgjR {
  padding: 0 0 0 16px;
}

.Jfwik .level1Block {
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  margin: 2px 0 2px 10px;
}

.Jfwik .level1Block b {
  font-weight: bold;
}

.Jfwik .level1,
.Jfwik .level2,
.Jfwik .level1Ex {
  display: inline;
}

.Jfwik .level1 b,
.Jfwik .level2 b,
.Jfwik .level2Block b {
  background-color: #eee;
  border: #999 solid 1px;
  color: currentColor;
  font-weight: normal;
  padding: 0 2px;
  margin: 0 5px 0 2px;
}

.wrpCmp {
  border: #06c solid;
  border-width: 0 0 1px 0;
  height: 25px;
  margin: 15px 0 5px 0;
}

.wrpCmp p {
  border: #06c solid;
  border-width: 0 0 0 5px;
  font-size: 1.3em;
  height: 20px;
  margin: 0;
  padding: 0 0 3px 5px;
}

.wrpCmp p a {
  color: #000;
  font-weight: bolder;
}

.wrpCmpCom {
  border: #de7d29 solid;
  border-width: 0 0 1px 0;
  height: 25px;
  margin: 15px 0 5px 0;
}

.wrpCmpCom p {
  border: #de7d29 solid;
  border-width: 0 0 0 5px;
  font-size: 1.3em;
  height: 20px;
  margin: 0;
  padding: 0 0 3px 5px;
}

.wrpCmpCom p a {
  color: #000;
  font-weight: bolder;
}

.wrpEx {
  height: 25px;
  margin: 0;
}

.wrpEx p {
  color: #525152;
  font-size: 1em;
  height: 20px;
  margin: 0 0.5em 0 0;
  padding: 3px 0 0 5px;
}

.wrpEx p a:link,
.wrpEx p a:visited,
.wrpEx p a:active {
  color: #525152;
  font-size: 1em;
  text-decoration: none;
}

.wrpEx p span {
  color: #9c9a9c;
  font-size: 0.7em;
}

.wrpEx p.wrpExFL {
  color: #525152;
  font-size: 0.8em;
  height: 20px;
  margin: 0 0.5em 0 0;
  padding: 3px 0 0 5px;
}

.kijiEx {
  color: #000;
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 15px;
}

.kijiEx * {
  font-size: 100%;
  line-height: 1.8em;
}

.wrpExTxt {
  margin: 0 0 -8px 0;
}

.wrpExTxt p {
  font-size: 1em;
  margin-right: 0.5em;
  padding: 0 0 0 5px;
}

.kijiWrpTxt p.adDes {
  font-size: 95%;
}

.wrpExTxt p > a {
  text-decoration: none;
}

.wrpExTxt p a:hover {
  color: #f00;
}

.wrpExTxt p a:link,
.wrpExTxt p a:visited {
  color: #525152;
}

.kijiWrpTxt {
  font-size: 90%;
  margin: 0 0 15px 0;
  padding: 0;
}

.wrpAdFTxt p {
  color: #525152;
  font-size: 0.9em;
  line-height: 1.8em;
  margin: 14px 0 14px 6px;
}

.wrpIMCmp {
  border: #06c solid;
  border-width: 0 0 1px 0;
  height: 25px;
  margin: 5px 0 5px 0;
}

.wrpIMCmp p {
  border: #06c solid;
  border-width: 0 0 0 5px;
  font-size: 1.1em;
  font-weight: bolder;
  height: 18px;
  margin: 0;
  padding: 2px 0 5px 5px;
}

.wrpIMCmp p a {
  color: #000;
  font-size: 0.8em;
  font-weight: normal;
}

.wrpIMCmpCom {
  border: #de7d29 solid;
  border-width: 0 0 1px 0;
  height: 25px;
  margin: 5px 0 5px 0;
}

.wrpIMCmpCom p {
  border: #de7d29 solid;
  border-width: 0 0 0 5px;
  font-size: 1.1em;
  font-weight: bolder;
  height: 18px;
  margin: 0;
  padding: 2px 0 5px 5px;
}

.wrpIMCmpCom p a {
  color: #000;
  font-size: 0.8em;
  font-weight: normal;
}

#main .spoBoxHEYO {
  background-color: #feaa15;
  border: #e38e00 solid;
  border-width: 0 0 1px 0;
  color: #fff;
  font-weight: bold;
  margin: 0 4px 0 20px;
  padding: 5px 3px 5px 7px;
  text-align: left;
}

#main .spoBoxBEYO {
  border: #ccc solid;
  border-width: 0 1px 1px 1px;
  margin: 0 4px 10px 20px;
}

#main .spoBoxHEYOT {
  background-color: #9097a2;
  border: #868d99 solid;
  border-width: 0 0 1px 0;
  color: #fff;
  font-weight: bold;
  margin: 0 4px 0 0;
  padding: 5px 3px 5px 7px;
  text-align: left;
}

#main .spoBoxBEYOT {
  border: #ccc solid;
  border-width: 0 1px 1px 1px;
  margin: 0 4px 10px 0;
}

.ejjeScCnt {
  margin: 0 0 10px 0;
  width: 99%;
  _width: 100%;
}

.ejjeScCnt .chsShwcsH {
  background-color: #feaa15;
  border: #feaa15 solid 1px;
  border-bottom: #e38e00 solid 1px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

.ejjeScCnt .chsShwcsHT {
  padding: 0 5px;
}

.ejjeScCnt .chsShwcsC {
  border: #ccc solid;
  border-width: 0 1px 1px 1px;
  margin: 0;
  padding: 2px 0 3px 0;
  width: 100%;
}

.ejjeScCnt .chsShwcsT {
  border-collapse: collapse;
  margin: 2px 0 2px 0;
  padding: 0;
  width: 100%;
}

.ejjeScCnt .chsShwcsTD {
  border-collapse: collapse;
  margin: 0;
  padding: 2px 0 2px 6px;
  _padding: 2px 0 2px 2px;
  vertical-align: top;
  width: 33%;
}

.ejjeScCnt .chsShwcsTD a {
  font-size: 1em;
}

.ejjeScCnt .chsShwcsTD a:active,
.ejjeScCnt .chsShwcsTD a:link,
.ejjeScCnt .chsShwcsTD a:visited {
  color: #06c;
}

.ejjeScCnt .chsShwcsTD a:hover {
  color: #d50000;
}

.ejjeScCnt .chsShwcsTD span {
  font-size: 0.85em;
  font-weight: normal;
}

.treeBoxC .adIFLeftE {
  color: #06c;
  font-size: 0.7em;
  text-align: right;
}

.JWAdsR .highlight {
  background-color: transparent;
}

.AdR .highlight {
  background-color: transparent;
}

.clrBc {
  clear: both;
  display: block;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.highlight-menu {
  background-color: #f8f9ff;
  display: none;
  top: 0;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 10;
}

.highlight-menu table {
  background-color: #f6f6f6;
  border: #b5b5b5 solid 1px;
  border-collapse: separate;
  border-spacing: 4px;
}

.highlight-menu table td {
  cursor: pointer;
  height: 24px;
  margin: 0;
  text-align: center;
  padding: 0;
  width: 24px;
}

.highlight-menu img {
  width: 24px;
}

.highlight-menu #pick-del img {
  width: 22px;
}

.red {
  background-color: #fcc;
}

.highlight-menu-sub {
  position: relative;
}

.highlight-menu table.hl-tbl-hz td {
  padding-right: 5px;
}

.highlight-menu table.hl-tbl-hz td:last-child {
  padding-right: 0;
}

.highlight-dfcl .hl-pick-dfcolor-table {
  margin: 37px 0 15px;
  table-layout: fixed;
  width: 100%;
}

.highlight-dfcl .hl-pick-dfcolor-table td {
  padding: 0;
  text-align: left;
}

.highlight-dfcl .dfclsq {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  width: 40px;
}

.highlight-dfcl .dfclsq > span {
  background-color: #585858;
  display: none;
  height: 8px;
  margin-top: 16px;
  width: 8px;
}

.highlight-dfcl #dfslsq-yellow {
  background-color: #ffe467;
}

.highlight-dfcl #dfslsq-blue {
  background-color: #75baff;
}

.highlight-dfcl #dfslsq-green {
  background-color: #82d131;
}

.highlight-dfcl #dfslsq-red {
  background-color: #ffa4a4;
}

.highlight-dfcl .dfclmsg-yellow,
.highlight-dfcl .dfclmsg-blue,
.highlight-dfcl .dfclmsg-green,
.highlight-dfcl .dfclmsg-red {
  font-size: 0.78em;
}

.highlight-dfcl .hl-pick-dfcolor-table td.dfclmsg-td {
  padding-left: 11px;
}

.highlight-htu .sect {
  line-height: 1.7em;
  margin-bottom: 23px;
}

.highlight-htu .sect ol {
  margin: 0;
  padding-left: 16px;
}

.highlight-htu .semi-heading {
  font-size: 1.07em;
  font-weight: bold;
  margin-bottom: 3px;
}

.highlight-htu .hl-page-heading {
  margin-bottom: 23px;
}

.highlight-lib .formBlk {
  overflow: hidden;
}

.highlight-lib .hl-sortWrp {
  float: left;
}

.highlight-lib .hl-searchWrp {
  float: right;
}

.highlight-lib .searchHlBtn {
  background-color: #666;
  box-shadow: 0 2px 0 0 #000;
  font-size: 0.92em;
  height: 25px;
  line-height: 25px;
  margin: 0;
  padding: 0 10px;
}

.highlight-lib input[name='q'] {
  border: 0;
  border: solid 1px #ccc;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  height: 27px;
  margin: 0 3px 0 0;
  padding-left: 3px;
}

.highlight-lib .hl-content-wrap {
  margin-top: 18px;
}

.highlight-lib .hl-content {
  margin-bottom: 39px;
}

.highlight-lib .hl-title {
  margin-bottom: 12px;
  font-weight: bold;
}

.highlight-lib .hl-item {
  background-color: #f9f9f9;
  margin-bottom: 5px;
  padding: 7px 10px;
  position: relative;
}

.highlight-lib .hl-item p {
  border-style: solid;
  border-width: 0 0 0 4px;
  float: left;
  padding-left: 11px;
  width: 93%;
}

.red-left-border {
  border-color: #ffa4a4;
}

.highlight-lib .hl-item-edit {
  cursor: pointer;
  display: none;
  float: right;
}

.highlight-lib .hl-more-less,
.highlight-lib .hl-title a {
  border-bottom: #000 dotted 1px;
  font-size: 0.85em;
  padding-bottom: 1px;
  text-decoration: none;
}

.highlight-lib .highlight-edit {
  display: none;
  right: -38px;
  top: 0;
  position: absolute;
  z-index: 1;
}

.highlight-lib .highlight-edit table {
  background-color: #f6f6f6;
  border: #b5b5b5 solid 1px;
  border-collapse: separate;
  border-spacing: 4px;
}

.highlight-lib .highlight-edit table td {
  cursor: pointer;
  height: 24px;
  margin: 0;
  text-align: center;
  padding: 0;
  width: 24px;
}

.highlight-lib .highlight-edit table div {
  height: 100%;
  line-height: 24px;
}

.highlight-lib .highlight-edit .edit-del img {
  width: 24px;
}

.highlight-lib .hlpaginationWrp {
  text-align: center;
}

.highlight-lib .hl-pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
  padding-left: 0;
}

.highlight-lib .hl-pagination > li {
  display: inline;
}

.highlight-lib .hl-pagination > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0;
}

.highlight-lib .hl-pagination > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.highlight-lib .hl-pagination > li > a {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #337ab7;
  float: left;
  line-height: 1.42857143;
  margin-left: -1px;
  position: relative;
  padding: 2px 10px;
  text-decoration: none;
}

.highlight-lib .hl-pagination > li i {
  line-height: 1.42857143;
}

.highlight-lib .hl-pagination a:link,
.highlight-lib .hl-pagination a:visited,
.highlight-lib .hl-pagination a:hover,
.highlight-lib .hl-pagination a:active {
  color: currentColor !important;
  display: inline-block;
  text-decoration: none;
}

.highlight-lib .hl-pagination a:hover {
  background-color: #aac9e9;
}

.highlight-lib .hl-pagination .active a {
  background-color: #e4e4e4;
  cursor: default;
}

#hl-sticky-menu-library .fa {
  color: currentColor;
  font-size: 1.64em;
}

.stickyMenuSampleWrp .smClPk .fa {
  display: inline-block;
  font-size: 1.92em;
  text-align: center;
  width: 24px;
}

.introjs-arrow.right {
  right: -10px;
  top: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
}

.introjs-arrow.right-bottom {
  bottom: 10px;
  right: -10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
}

.introjs-arrow.left {
  left: -10px;
  top: 10px;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.introjs-arrow.left-bottom {
  left: -10px;
  bottom: 10px;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.pinned-content-header .fa-thumb-tack,
.pinned-content-header span .fa-square {
  color: currentColor;
}

.fa-rotate-315 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.5);
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.pinned-content-button-wrapper > .error {
  font-size: 0.71em;
  background-color: #f8ddde;
  text-align: center;
  margin-bottom: 5px;
  display: none;
}

.pinned-content-button-wrapper > .error {
  letter-spacing: 1.4;
  padding: 2px 0;
  width: 80%;
  margin: 0 auto 10px;
}

.pinned-content-button-wrapper > .error a {
  font-weight: bold;
  color: #000;
}

.pinned-content-button-wrapper.show > .error {
  display: block;
}

.pinned-content-button-wrapper .add-word-list-button .fa {
  margin-right: 5px;
}

.modal-wrapper .loading .fa {
  color: #fff;
  font-size: 6.42em;
  left: 38%;
  position: absolute;
  top: 40%;
}

.modal-wrapper.for-already-exists .modal-close-wrapper .fa-stack {
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.5);
  cursor: pointer;
}

.modal-wrapper.for-already-exists .modal-close-wrapper .fa-stack:hover {
  opacity: 0.7;
}

.free-member-features-modal .modal-message:not(.registered):not(.login) {
  float: left;
  margin: 10px 0 20px 30px;
}

.free-member-features-modal .modal-message div {
  font-weight: normal;
  margin: 0 !important;
}

.free-member-features-modal .modal-message div:first-child {
  margin: 0 0 15px 0 !important;
}

.free-member-features-modal .modal-message div:first-child span {
  font-size: 2em;
}

.free-member-features-modal .modal-message div:first-child span:first-child {
  font-weight: bold;
}

.free-member-features-modal .modal-message div:not(:first-child) {
  font-size: 1.28em;
}

.free-member-features-modal .modal-message div.sentence-list-features {
  line-height: 2em;
}

.free-member-features-modal .modal-message:not(.registered) .modal-login-link {
  margin: 0;
}

.free-member-features-modal
  .modal-message:not(.registered)
  .modal-login-link:hover {
  color: currentColor;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.free-member-features-modal .modal-example {
  float: none;
  margin: 5px 0 0;
}

.free-member-features-modal .modal-example img {
  box-shadow: none;

  -webkit-box-shadow: none;
}

.free-member-features-modal .free-register-wrap:not(.login):not(.registered) {
  border-collapse: separate;
  border-spacing: 15px 0;
  display: table;
  margin-left: 15px;
}

.free-member-features-modal .free-member-features {
  border: #aaa solid 1px;
  display: table-cell;
  vertical-align: top;
}

.free-member-features-modal .free-member-features > div:first-child {
  background-color: #ea9035;
  color: #fff;
  font-size: 1.42em;
  padding: 7px 0;
}

.free-member-features-modal .free-member-features .free-member-feature-content {
  display: inline-block;
  margin: 20px 10px;
}

.free-member-features-modal
  .free-member-features
  .free-member-feature-content
  img {
  margin: 10px 0;
}

.free-member-features-modal
  .free-member-features
  .free-member-feature-content
  div {
  text-align: left;
}

.free-member-features-modal .free-member-features > div:last-child {
  margin-bottom: 10px;
}

.free-member-features-modal .free-member-features > div:last-child span {
  font-weight: bold;
}

.free-member-features-modal
  .free-register-wrap:not(.login):not(.registered)
  .free-register {
  border: #48a267 solid 1px;
  display: table-cell;
  position: relative;
}

.free-member-features-modal .free-register > div:first-child {
  left: 3px;
  position: absolute;
  top: -30px;
}

.free-member-features-modal
  .free-register-wrap.login
  .free-register
  > div:first-child,
.free-member-features-modal
  .free-register-wrap.registered
  .free-register
  > div:first-child {
  display: none;
}

.free-member-features-modal
  .free-register-wrap:not(.login)
  .free-register
  .modal-error-message {
  margin-top: 15px;
}

.free-member-features-modal .free-register .footer span {
  line-height: 14px;
}

.free-member-features-modal .free-register .modal-register-button {
  font-weight: normal;
  margin: 10px auto;
}

.free-member-features-modal .free-register .free-register-link {
  display: inline-block;
  margin-bottom: 10px;
}

.free-member-features-modal .free-register .free-register-link:hover {
  color: currentColor;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.free-member-features-modal.hidden .free-member-features {
  display: none;
}

.userInfo .right-cell {
  padding-left: 5px;
}

.userInfo .right-cell .free-description {
  font-size: 1em;
  margin-left: 6px;
  margin-bottom: 8px;
  letter-spacing: 3px;
}

.userInfo .right-cell .free-description span {
  letter-spacing: 0;
  padding-right: 3px;
}

.userInfo .right-cell .free-description span span {
  font-size: 0.85em;
}

.userInfo .right-cell .free-button {
  display: block;
  height: 35px;

  margin: 6px 0 0;
}

.userInfo .right-cell .free-button:hover {
  opacity: 0.7;
}

.userInfo .right-cell .free-button:active {
  box-shadow: none !important;
  position: relative;
  top: 2px;
}

.userInfo .right-cell .merits {
  margin: 4px 0;
}

.userInfo .right-cell .merits p {
  font-size: 0.78em;
  font-weight: bold;
  margin-bottom: 4px;
}

.userInfo .right-cell .merits p img {
  width: 12px;
  padding: 0 8px;
}

.userInfo .left-cell {
  text-align: center;
}

.userInfo .left-cell .member-state-label {
  color: #fff;
  display: block;
  width: 80px;
  text-align: center;
  height: 30px;
  box-sizing: border-box;
  padding: 5px 0;
  font-size: 90%;
}

.userInfo .left-cell .member-state-label.free {
  background-color: #48a267;
}

.userInfo .left-cell .member-state-label.premium {
  background-color: #ea9034;
  font-size: 70%;
  padding: 6.3px 0;
}

#sideBHPAEjje > .error {
  background-color: #f8ddde;
  display: none;
  font-size: 0.71em;
  letter-spacing: 1.4;
  margin-bottom: 5px;
  padding: 0 5px;
  text-align: center;
}

#sideBHPAEjje > .error a {
  color: #000;
  font-weight: bold;
}

#sideBHPAEjje.show > .error {
  display: block;
}

.footer_banner .title .small {
  font-size: 0.92em;
}

.footer_banner ul.features {
  font-size: 0.85em;
  list-style-type: none;
  color: #534a41;
  margin: 0;
  padding: 10px 0;
  line-height: 17px;
}

.footer_banner ul.features li {
  margin-left: 70px;
  padding: 5px 0;
  position: relative;
}

.footer_banner ul.features li:before {
  content: '';
  width: 17px;
  height: 17px;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: -25px;
}

.footer_banner ul.features li.search-history:before {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/banner/history.png);
}

.footer_banner ul.features li.vocab-test:before {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/banner/vocab.png);
}

.footer_banner ul.features li.folders:before {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/banner/folders.png);
}

.footer_banner ul.features li.ads:before {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/banner/ad.png);
}

#free-house-ad-on-load-modal-container .header-wrap .modal-close i.fa-times,
#premium-house-ad-on-load-modal-container .header-wrap .modal-close i.fa-times {
  color: #595858;
  font-size: 1.71em;
  height: 35px;
  line-height: 35px;
}

#free-house-ad-on-load-modal-container .features-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 5px 10px 5px;
}

#free-house-ad-on-load-modal-container .features-wrapper .feature {
  width: calc(33.3333% - 12px);
  padding: 20px 0 5px;
  font-size: 1em;
  text-align: center;
  vertical-align: top;
  border: 1px solid #d1d1d1;
  position: relative;
  margin: 10px 5px;
}

#free-house-ad-on-load-modal-container
  .features-wrapper
  .feature.other-features {
  border: none;
}

#free-house-ad-on-load-modal-container
  .features-wrapper
  .feature.other-features
  img {
  width: 75%;
}

#free-house-ad-on-load-modal-container
  .features-wrapper
  .feature.other-features:before {
  display: none;
}

#free-house-ad-on-load-modal-container .features-wrapper .feature:before {
  background-color: #e99034;
  border-radius: 50%;
  content: '0' counter(feature-number);
  counter-increment: feature-number;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  height: 30px;
  left: 60px;
  line-height: 30px;
  position: absolute;
  top: -15px;
  width: 30px;
}

#free-house-ad-on-load-modal-container .features-wrapper .feature span {
  font-size: 1.28em;
  font-weight: bold;
  color: #554c45;
}

#free-house-ad-on-load-modal-container .features-wrapper .feature div.img-wrap {
  display: table-cell;
  height: 65px;
  text-align: center;
  vertical-align: middle;
}

#free-house-ad-on-load-modal-container
  .features-wrapper
  .feature
  div.img-wrap
  img {
  width: 40px;
}

#free-house-ad-on-load-modal-container
  .features-wrapper
  .feature
  div.description {
  line-height: 18px;
}

#free-house-ad-on-load-modal-container td div.description,
#premium-house-ad-on-load-modal-container td div.description {
  line-height: 18px;
}

#free-house-ad-on-load-modal-container
  .features-wrapper
  .feature
  .img-wrap
  img.large {
  width: 50px;
}

.clr {
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.clrBc {
  clear: both;
  display: block;
  font-size: 0.71em;
  line-height: 0;
  overflow: hidden;
}

#main {
  float: left;
  text-align: left;
  padding: 0 0 0 8px;
}

.topic {
  font-size: 75%;
  height: 44px;
  line-height: 1.3em;
  margin: 0 0 2px 0;
  overflow: hidden;
  padding-top: 5px;
  width: 100%;
  word-break: break-all;
}

.topic table {
  height: 30px;
  width: 100%;
}

.topicL {
  font-size: 0.78em;
  float: left;
  vertical-align: middle;
}

.topicLB {
  font-size: 0.71em;
}

.topicR {
  float: right;
  text-align: right;
}

.topicR table {
  border-collapse: collapse;
  font-size: 1.1em;
}

.wrp {
  width: 100%;
  border-collapse: collapse;
}

.wrp img.lgDictLg {
  max-height: 16px !important;
  width: auto !important;
}

.wrp img.lgDictSp {
  height: 18px !important;
  margin-top: -17px !important;
}

.left {
  vertical-align: bottom;
}

.right {
  float: right;
  font-size: 0.9em;
  margin: 0 5px 0 0;
  text-align: right;
  vertical-align: top;
}

.kijiWrp {
  padding-left: 1px;
}

.kijiWrp .lgDict {
  float: right;
  margin: 1px 1px 0 0;
}

.kiji {
  color: currentColor;
  font-size: 1em;
  line-height: 1.8em;
}

.kiji * {
  font-size: 100%;
  line-height: 1.8em;
}

.midashigo:before {
  content: '\25b6';
}

.midashigo {
  font-size: 115%;
  letter-spacing: 0.02em;
}

crosslink:hover,
.crosslink:link,
.crosslink:visited,
.crosslink:active {
  color: currentColor;
  text-decoration: underline;
}

.kijiFoot {
  margin-top: 10px;
  text-align: right;
}

.linkTagML {
  width: 60%;
}

.linkTagML input {
  border: #ccc solid 1px;
  height: 20px;
}

.linkTagMR {
  text-align: right;
  vertical-align: bottom;
  width: 38%;
}

.linkTagMR table {
  border-collapse: collapse;
  float: right;
  font-size: 80%;
}

.linkTagMR table td {
  vertical-align: bottom;
}

.linkOut {
  height: 12px;
  margin-left: 2px;
  width: 13px;
}

.intrstR > table {
  border-spacing: 0 2px;
}

span.pofsp,
.KnenjSub {
  background-color: #666;
  border: none !important;
  color: #fff;
  display: inline;
  font-size: 1.07em !important;
  font-weight: normal !important;
  line-height: 30px !important;
  padding: 3px 5px !important;
}

.clrPhrBc {
  clear: both;
  display: block;
  font-size: 0.71em;
  line-height: 0;
  margin-top: 1em;
  overflow: hidden;
}

.wrpExE {
  height: 25px;
  margin-top: 18px;
}

.wrpExE p {
  color: #525152;
  font-size: 1em;
  height: 20px;
  margin: 0;
  padding-left: 2px;
}

.wrpExE p a:link,
.wrpExE p a:visited,
.wrpExE p a:active {
  color: #525152;
  font-size: 1em;
  text-decoration: none;
}

.intrst {
  width: 100%;
  border-top: 1px solid #ccc;
  border-collapse: collapse;
}

#summary table:last-of-type.intrst {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.intrst .intrstL {
  background-color: rgba(245, 239, 230, 0.13);
  padding-left: 5px;
  vertical-align: middle;
  width: 80px;
}

.intrst .intrstL h2 {
  font-size: 0.92em;
  font-weight: normal;
}

.intrst .intrstR {
  padding-left: 4px;
  vertical-align: middle;
}

.linkTagRR span {
  font-size: 0;
  display: block;
  height: 23px;
  line-height: 0;
  width: 61px;
}

img.weblioMascot {
  margin: 15px 0 15px;
}

#main {
  float: left;
  margin: 0 15px 0 auto;
}

#main a:link,
#main a:visited,
#main a:active {
  color: currentColor;
}

#main a:hover {
  color: #4f7bb9;
}

.clrBc {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.treeBoxC a:link,
.treeBoxC a:visited,
.treeBoxC a:active {
  font-family: 'ＭＳ ゴシック', '平成角ゴシック', monospace;
  line-height: 1.5em;
  padding: 8px;
}

.treeBoxC h3 {
  text-align: left;
}

.treeBoxC h3 a:link,
.treeBoxC h3 a:visited,
.treeBoxC h3 a:active {
  font-size: 0.85em;
  font-weight: normal;
  left: -1px;
  line-height: 1.6em;
  padding: 0;
  position: relative;
}

.treeBoxC h3 span {
  color: #1c9000;
  display: list-item;
  margin: 0 0 0 14px;
  padding: 0;
  position: relative;
}

.treeBoxC hr {
  border: #c0c0c0 solid;
  border-width: 1px 0 0 0;
  height: 1px;
  margin: 5px 5px 5px 5px;
}

.treeBoxC p {
  font-size: 1.42em;
  margin: 0;
  padding: 0;
  text-align: left;
}

.treeBoxCFoldLi .pl {
  border: #000 solid 1px;
}

#summary {
  padding: 2px 2px 10px 2px;
}

.summaryR > .error,
#sideBHPAEjje > .error {
  font-size: 0.71em;
  background-color: #f8ddde;
  text-align: center;
  margin-bottom: 5px;
  display: none;
}

#sideBHPAEjje > .error {
  letter-spacing: 1.4;
  padding: 0 5px;
}

#sideBHPAEjje > .error a {
  font-weight: bold;
  color: #000;
}

.summaryR.show > .error,
#sideBHPAEjje.show > .error {
  display: block;
}

#summaryMargin {
  margin-top: 150px;
}

.summaryM .description {
  background-color: #666;
  color: #fff;
  font-size: 1.07em;
  font-weight: normal;
  margin: 0 5px 0 3px;
  padding: 3px 5px !important;
}

.linkTagRClrAd a:active,
.linkTagRClrAd a:hover,
.linkTagRClrAd a:link,
.linkTagRClrAd a:visited {
  text-decoration: none;
}

b.highlight {
  font-weight: normal;
}

.agglutination {
  vertical-align: top;
}

.agglutination agglutinationT {
  font-size: 1.42em;
}

.agglutination li {
  font-size: 1em;
}

.agglutination ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
}

.relatedwords relatedwordsT {
  font-size: 1.42em;
}

.EGateCoreDataWrp b,
.descriptionWrp b {
  display: block;
  text-align: center;
}

.EGateCoreDataWrp table td:first-child,
.descriptionWrp table td:first-child {
  width: 80px;
}

.descriptionWrp table td:first-child {
  vertical-align: top;
  padding: 16px 0 10px 0;
}

.EGateCoreDataWrp table td,
.descriptionWrp table td {
  font-size: 90%;
  font-weight: bold;
}

#searchSettingsWrp .reibun-sample .fa {
  font-size: 1.28em;
}

.pin-icon-cell {
  text-align: center;
  width: 45px;
}

.pin-icon-cell td {
  text-align: center;
  white-space: nowrap;
}

.pin-icon-cell span {
  color: #666;
  font-size: 0.71em;
}

.pin-icon-cell .fa {
  cursor: pointer;
  font-size: 2.42em;
}

.pin-icon-cell .fa:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#learning-level-table-wrap {
  display: table;
  width: 100%;
}

#learning-level-table {
  display: table-cell;
}

#learning-level-table div {
  display: table;
}

.learning-level-row {
  display: table-row;
}

.learning-level-row span {
  display: table-cell;
  padding: 2px 0;
}

.learning-level-label {
  text-align: right;
}

.learning-level-content {
  padding-right: 15px !important;
}

#side .addLmFd .premium,
#main .addLmFd .premium {
  background-color: #ff8022;
  color: #fff;
  display: block;
  font-size: 70%;
  position: relative;
  width: 100%;
  height: 35px;
}

#side .addLmFd .premium:hover,
#main .addLmFd .premium:hover {
  opacity: 0.7;
}

#summary.non-member .intrstR #leadBtnWrp,
#summary.non-member .intrstR #learning-level-table {
  display: block;
  width: 100%;
}

#summary.non-member .intrstR #learning-level-table div,
#summary.non-member .intrstR #learning-level-table div * {
  display: inline;
}

#summary.non-member .intrstR #leadToVocabIndexBtn,
#summary.non-member .intrstR #leadToSpeakingTestIndexBtn {
  display: table-cell;

  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
}

#summary.non-member .intrstR #leadBtnWrp .insideLlTable {
  display: inline-block;
  margin: 10px 5px;
  box-sizing: border-box;
}

.free-member-features {
  padding: 0 0 10px 0;
}

.free-member-features .features-title {
  background-color: #554c45;
  color: white;
  font-size: 1.28em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.free-member-features .features-subtitle {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 8px 0 12px 0;
}

.free-member-features .features-subtitle .red {
  background-color: transparent;
  color: #e04a12;
  font-size: 1.28em;
  padding: 0 5px;
}

.free-member-features ul.features {
  margin: 0;
  padding: 0;
  text-align: center;
}

.free-member-features ul.features li {
  width: 96px;
  height: 121px;
  display: inline-block;
  border: 1px solid #cdcdcd;
  text-align: center;
  margin-right: 15px;
  vertical-align: top;
}

.free-member-features ul.features li:first-child {
  margin-left: 38px;
}

.free-member-features ul.features li .feature-name {
  font-size: 0.85em;
  font-weight: bold;
  margin: 11px 0 10px 0;
}

.free-member-features ul.features li img {
  height: 36px;
  width: auto;
}

.free-member-features ul.features li .feature-desc {
  font-size: 0.85em;
  margin-top: 5px;
}

.free-member-features ul.features li.more-features {
  margin-right: 0;
  position: relative;
  border: none;
}

.free-member-features ul.features li.more-features img {
  width: 86px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.free-member-features a.free-register-button {
  display: block;
  background-color: #48a267;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;

  margin: 10px auto 0 auto;
  font-size: 1.14em;
  font-weight: bold;
  padding: 15px 0;
  color: white;
  position: relative;
  line-height: 21px;
}

.free-member-features a.free-register-button:after {
  content: '\f0da';
  font-family: FontAwesome;
  position: absolute;
  height: 21px;
  width: 30px;
  font-size: 1.14em;
  line-height: 21px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

#main .free-member-features a.free-register-button:link,
#main .free-member-features a.free-register-button:visited,
#main .free-member-features a.free-register-button:active {
  color: white;
}

.free-member-features a.free-register-button .small {
  font-size: 1em;
}

.descriptionWrp table td.content-explanation {
  font-size: 1.12em;
  line-height: 2;
  padding: 10px 0 5px 0;
}

.descriptionWrp table td.content-explanation.ej {
  letter-spacing: 1.5;
}

#main .KnenjSub a:link,
#main .KnenjSub a:visited,
#main .KnenjSub a:active {
  color: #fff;
}

h2.midashigo rt {
  font-size: 0.5em;
}

h2.midashigo rp {
  font-size: 0.5em;
}

.infobox caption {
  font-size: larger;
  margin-left: inherit;
}

.infobox.bordered {
  border-collapse: collapse;
}

.infobox.bordered td,
.infobox.bordered th {
  border: #aaa solid 1px;
}

.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
  border: 0;
}

.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
  border: #c0c090 solid 1px;
}

.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
  border: 0;
  border-right: #aaa solid 1px;
  border-top: #aaa solid 1px;
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
  border: 0;
  border-right: #aaa solid 1px;
}

.wikitable caption,
.prettytable caption {
  font-weight: bold;
  margin-left: inherit;
  margin-right: inherit;
}

dl#infoboxCountry dt.infoboxCountryNameJa {
  font-size: 1.36em;
  margin: 0 0 0.13em;
  text-align: center;
}

.dablink {
  border-bottom: #aaa solid 1px;
  font-size: 90%;
  margin: 0.5em 0 0.5em 0;
  padding: 3px 2em 3px 2em;
}

.midashigo sub {
  font-size: 0.6em;
}

.midashigo sup {
  font-size: 0.6em;
}

td.movie_staff_left {
  text-align: right;
}

.ad02_left_box {
  width: 7px;
  height: 30px;
  margin: 0 2px 2px 0;
  padding: 0;
  background-color: #d0d0d0;
  vertical-align: middle;
  font-size: 10pt;
}

.ad02_center-left_box {
  height: 30px;
  margin: 0 2px 2px 0;
  padding: 4px;
  background-color: #f0f0f0;
  vertical-align: middle;
  font-size: 10pt;
}

.ad02_center-right_box {
  height: 30px;
  margin: 0 2px 2px 0;
  padding: 4px;
  background-color: #e0e0e0;
  vertical-align: middle;
  font-size: 10pt;
}

.ad02_right_box {
  height: 30px;
  margin: 0 2px 2px 0;
  padding: 4px;
  background-color: #e0e0e0;
  vertical-align: middle;
  font-size: 10pt;
}

.main3noh {
  font-size: 1em;
  color: #fff;
}

.mainb {
  font-size: 1em;
  color: #000;
  font-weight: bold;
  line-height: 18px;
}

h2.midashigo sub {
  font-size: smaller;
}

ul.linkListStrong li {
  list-style-type: none;
}

.Ktdcm .KtdcmImgLeft {
  float: left;
  width: 48%;
}

.Ktdcm .KtdcmImgRight {
  float: right;
  width: 48%;
}

.Ktdcm .maincol {
  margin-left: 15px;
  text-align: left;
}

.Ktdcm ul.fright li.full {
  text-align: right;
}

.Ktdcm .maincol .boxArea {
  margin-bottom: 16px;
  padding-top: 7px;
}

.Ktdcm .maincol .boxArea .wrap {
  padding-bottom: 8px;
}

.Ktdcm .maincol .boxArea .section {
  padding: 0 7px;
}

.Ktdcm table.cell2 .right {
  padding-left: 16px;
}

.Sngsj .gaiji {
  height: 1em;
  vertical-align: text-bottom;
  width: 1em;
}

.Otnet .OtnetRed {
  border-bottom: #ccc solid 1px;
  border-left: #f00 solid 10px;
  border-right: #ccc solid 0;
  margin: 12px;
  padding: 1px 5px;
}

.Fkkyr .left_column {
  padding: 15px 0 0 0;
}

td.midashigo {
  color: #4f519b;
  font-weight: bold;
  padding: 10px 5px 30px 2px;
}

.Mtsbs .notes_mainArea {
  margin-top: 10px;
}

.Mtsbs table.spec tr.mainheader th {
  background-color: #d2d2d2;
  font-weight: bold;
}

.Mtsbs table.spec tr.mainheader th.basic {
  background-color: #e8f6d9;
}

.Mtsbs table.spec .tdleft {
  text-align: left;
}

.Mtsbs table.spec .tdright {
  text-align: right;
}

.Mtsbs table.spec td.tdleft_nb {
  text-align: left;
  border-right-style: none;
}

.Mtsbs table.spec td.tdright_nb {
  text-align: right;
  border-left-style: none;
}

.Mtsbs .carmain_font80 {
  font-size: 0.8em;
}

.Mtsbs .carmain_font70 {
  font-size: 0.7em;
}

.Mtsbs td.tdleft {
  text-align: left;
}

.Mtsbs th.tdleft {
  text-align: left;
}

.Kkjsh table tr td.right {
  text-align: right;
}

.Mzdmt .cell_center_left {
  border-right: #a1a1a1 solid 1px;
  text-align: center;
}

.Mzdmt .cell_left_no {
  border-bottom: #a1a1a1 solid 1px;
  height: 22px;
  text-align: left;
}

.Mzdmt .cell_left {
  border: #a1a1a1 solid;
  border-width: 0 1px 1px 0;
  height: 22px;
  text-align: left;
}

.Triph .data caption {
  background: #94b7df;
  border-right: #fff solid 1px;
  border-top: #fff solid 1px;
  color: #fff;
  font-weight: bold;
  padding: 2px 17px;
}

.Cntkj .description {
  float: right;
  width: 43%;
}

.Hyndi .spec-table td.left {
  text-align: left;
}

.Hndmr table#webcatalogue-table td {
  color: #666;
}

.Hndmr table#webcatalogue-table img {
  border: none;
}

.Hndmr table#webcatalogue-table p {
  margin: 0;
  padding: 0;
}

.Hndmr table#webcatalogue-table p.leadcopy {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 18px;
}

.Hndmr table#webcatalogue-table p.leadcopy2 {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 21px;
}

.Hndmr table#webcatalogue-table p.text {
  font-size: 0.9em;
  line-height: 16px;
}

.Hndmr table#webcatalogue-table p.caution {
  color: #888;
  font-size: 0.9em;
  line-height: 12px;
  margin-top: 3px;
}

.Hndmr table#webcatalogue-table span.typebetsu {
  font-size: 0.9em;
  font-weight: normal;
}

.Hndmr table#webcatalogue-table p.concepttext {
  color: #fff;
  line-height: 18px;
  margin: 0 15px 10px 15px;
}

.Hndmr table#webcatalogue-table strong.v6 {
  color: #003f98;
}

.Hndmr table#webcatalogue-table p.safe-midashi {
  // background-color: currentColor;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 5px 3px 5px;
}

.Hndmr table#webcatalogue-table p.realworldtext {
  color: #51318f;
}

.Hndmr table#webcatalogue-table span.co2 {
  font-size: 0.9em;
}

.Hndmr table#webcatalogue-table p.texthyoujimark {
  font-size: 0.9em;
  line-height: 16px;
}

.Hndmr table#webcatalogue-table #env-data {
  font-size: 0.9em;
}

.Hndmr table#webcatalogue-table #env-data td.tabletext {
  padding: 2px;
}

.Hndmr table#webcatalogue-table strong.price {
  font-size: 0.9em;
}

.Hndmr table#webcatalogue-table p.caution_vg {
  margin-top: 7px;
}

.Hndmr table#webcatalogue-table p.navi-midashi {
  background-color: #1c1f7a;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 5px 3px 5px;
}

.Hndmr table#webcatalogue-table .note {
  color: #1c1f7a;
}

.Hndmr table#webcatalogue-table span.komidashi {
  color: #006965;
}

.Hndmr table.spec-table td.bd-left {
  border-left: 1px solid #2c2c2c;
}

.Hndmr .block_line_right {
  border-right: solid 1px #000;
}

.Hndmr #webcata_footer {
  clear: both;
  padding: 30px 128px 15px 20px;
  text-align: right;
}

.Hndmr #specifications th.car .small {
  font-size: x-small;
  line-height: 120%;
}

.Hndmr div#web-catalog-contents {
  margin: 24px;
}

.Hndmr div#web-catalog-contents h4 {
  background: #325958;
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 14px;
  padding: 4px 0 4px 10px;
}

.Hndmr div#web-catalog-contents table.model-navi {
  margin: 0 0 5px 0;
}

.Hndmr div#web-catalog-contents table.model-navi td {
  padding: 0 25px 0 10px;
}

.Hndmr div#web-catalog-contents * {
  margin: 0;
  padding: 0;
}

.Hndmr div#web-catalog-contents h4 span {
  font-size: 0.9em;
  font-weight: normal;
}

.Hndmr div#web-catalog-contents p.caution,
p.caution {
  font-size: 0.9em;
  line-height: 120%;
}

.Hndmr #eq_spec_list td.right_non_border {
  border-right: none;
}

.Kejje dd {
  margin-left: 20px;
}

.Kejje .gaiji {
  border: 0;
  margin-bottom: -3px;
}

.Kejje .level1 {
  margin-left: 1em;
}

.Kejje .level2 {
  margin-left: 1.5em;
}

.Kejje .backlink {
  margin-top: 10px;
}

.Kejje .backlink img {
  margin-bottom: -3px;
  margin-right: 5px;
}

.Kejje .onsei {
  margin-bottom: -8px;
}

.Kejje .playSd {
  cursor: pointer;
}

.youreilink {
  border-bottom: #080 solid 1px;
  color: #080;
  font-weight: bold;
  text-decoration: none;
}

.KejjeYrL,
.KejjeYrLS,
.KejjeYrM,
.KejjeYrMS,
.KejjeYrR {
  background-color: rgba(247, 247, 247, 0.14);
  font-size: 0.9em;
  vertical-align: top;
}

.KejjeYrL,
.KejjeYrLS {
  color: #363636;
  font-size: 0.9em;
  padding: 0 4px 0 4px;
  width: 40px;
}

.KejjeYrM,
.KejjeYrMS {
  width: 13px;
}

.KejjeYrR {
  padding: 0 4px 0 4px;
}

.KejjeYr {
  border: 0;
  border-collapse: collapse;
  margin: 0 0 3px 25px;
  padding: 0;
}

.KejjeYrMS i {
  margin: 2px 0 0 2px;
}

.KejjeYrLS {
  cursor: pointer;
}

.KejjeYrC {
  border: #666 solid 1px;
  font-size: 0.9em;
  padding: 1px;
}

.KejjeYrHd {
  padding: 0 0.5em 0 0;
}

.KejjeYrTxt {
  display: none;
  margin: 0;
  padding: 0 0.5em 0 0;
}

.KejjeYrHd a,
.KejjeYrTxt a {
  color: black;
}

.KejjeYrHd a:active,
.KejjeYrTxt a:active {
  color: black;
}

.KejjeYrHd a:hover,
.KejjeYrTxt a:hover {
  color: black;
}

.KejjeYrHd a:visited,
.KejjeYrTxt a:visited {
  color: black;
}

.KejjeYrLn {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/iconCclBlS.png);
  background-position: left 5px;
  background-repeat: no-repeat;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 16px;
}

.KejjeYrLn sup {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.KejjeYrLn span {
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.KejjeYrLn .KejjeYrEn {
  font-family: Arial;
  font-weight: bold;
}

.KejjeYrKwrd {
  line-height: 1em;
}

.KejjeSm {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1em;
}

.KejjeSm a {
  line-height: 1em;
}

.Kejje .kenjeEnE {
  border: 0;
  display: list-item;
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 10px;
}

.Kejje .onseiSwf {
  display: inline-block;
  position: relative;
  top: 8px;
  margin-left: 5px;
}

.KejjeYrMS img {
  cursor: pointer;
  margin-top: 3px;
}

.KejjeSm {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1em;
  padding-left: 4px;
}

.Kejje .lvlNH,
.Kejje .lvlAH,
.Kejje .lvlB {
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.Kejje .lvlNH {
  font-size: 1.3em;
  font-weight: bold;
  height: 1.1em;
  width: 28px;
}

.Kejje .lvlAH {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.6em;
  width: 16px;
}

.Kejje .lvlUAH {
  font-size: 1.3em;
  font-weight: bold;
  height: 1.1em;
}

.Kejje .lvlUAB {
  font-weight: bold;
}

.Kejje .lvlB {
  padding: 0.1em 0 0 0;
  max-width: 85%;
}

.Kejje .lvlNHje {
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  width: 16px;
}

.Kejje .lvlNBje {
  float: left;
  font-weight: bold;
  margin: 0 0 12px 0;
  padding: 0;
}

.Kejje .lvlNBje td {
  line-height: 1.6em;
  margin: 0;
  padding: 0 20px 0 0;
  vertical-align: top;
}

.Kejje .lvlNBjeT {
  float: left;
  margin: 0;
  padding: 0;
}

.Kejje .lvlNBjeT sup {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.Kejje .lvlNBjeL {
  white-space: nowrap;
}

.Kejje .lvlBje {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.Kejje .lvlB {
  margin: 0.3em 0 0 0;
}

.Kejcy .gaiji {
  border: 0;
  margin-bottom: -3px;
}

.Kejcy .level0 {
  margin: 1em 0 0 0;
}

.Kejcy .level1 {
  margin: 0 1.5em 0 1.5em;
}

.Kejcy .level2 {
  font-size: 0.9em;
  margin: 0 3em 0.5em 3em;
  padding: 0.2em 0.5em 0 0.5em;
}

.Gicns .ga_small {
  font-size: 0.9em;
}

.Nsrsk .NsrskMaintxt {
  float: left;
  text-align: left;
}

.Nsrsk .NsrskRightph {
  border: #ccc solid 1px;
  float: right;
  text-align: center;
}

.Tltdb div.TltdbLeft {
  float: left;
  text-align: center;
}

.Tytmt .smallMText {
  font-size: 0.7em;
}

.Tpkys div.stroke div.imgArea p.rightImg {
  margin-right: 0;
}

.Tpkys .closeBoxIn div.makeRight {
  border: #ccc dotted 1px;
  float: left;
  height: 350px;
  padding: 10px;
}

.Srsbz .SrsbzLeft {
  float: left;
}

.Srsbz .SrsbzRight {
  float: right;
}

.Nrksm .NrksmT2 caption {
  font-weight: bold;
  text-align: left;
}

.Trhnt .TrhntLeft {
  float: left;
}

.Trhnt .TrhntRight {
  float: right;
}

.rmvDots {
  background: none !important;
  padding: 0 !important;
}

.syosaiLeft {
  float: left;
  margin: 0 0 20px 25px;
}

.Hgnsh .syosaiLeft {
  float: left;
  margin: 0 0 0 5px;
}

.Hgnsh .syosaiLeftBox {
  line-height: 1.4em;
  margin-top: 15px;
  text-align: justify;
  text-justify: inter-ideograph;
}

.Hgnsh .syosaiRight {
  float: right;
  margin-top: 5px;
}

.Hgnsh .syosaiRightBox {
  text-align: center;
}

.Hgnsh .syosaiRightBox img {
  margin-bottom: 0;
  padding: 15px 0 15px;
}

.Hskks .syosaiLeft {
  float: left;
  margin: 0 0 0 5px;
}

.Hskks .syosaiLeftBox {
  line-height: 1.4em;
  margin-top: 15px;
  text-align: justify;
  text-justify: inter-ideograph;
}

.Hskks .syosaiRight {
  float: right;
  margin-top: 5px;
}

.Hskks .syosaiRightBox {
  text-align: center;
}

.Hskks .syosaiRightBox img {
  margin-bottom: 0;
  padding: 15px 0 15px;
}

.LiscjYr .synonym1 {
  float: left;
  margin: 0;
  width: 45%;
}

.LiscjYr .synonym2 {
  float: right;
  margin: 0;
  width: 45%;
}

.LiscjYr .clear_column {
  clear: both;
}

.Liscj .caption p,
.Liscj .meaning p {
  margin: 0;
}

.Wejty .wejtyT span,
.Wejty .wejtyE span,
.Wejty .wejtyR span {
  background-color: #f0f0f0;
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  line-height: 1em;
  padding: 1px;
}

.Wejty .wejtyT {
  padding: 0;
}

.Wejty .wejtyE,
.Wejty .wejtyR {
  padding: 0 0 0 16px;
}

.Wejty .wejtyL {
  background-color: #f0f0f0;
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1em;
  margin-right: 8px;
  padding: 1px;
}

.Wejty .wejtyInfo {
  border: #b5b6b5 solid 1px;
  font-size: 0.8em;
  line-height: 1.32em;
  margin: 1em 0 0 0;
  padding: 10px;
}

.Wwsej .wwsejInfo {
  border: #b5b6b5 solid 1px;
  font-size: 0.8em;
  line-height: 1.32em;
  margin: 20px 0 0 0;
  padding: 10px;
}

.Nwnej .nwnejP {
  border-left: #815733 solid 6px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 12px 0 2px 0;
  padding-left: 3px;
}

.Nwnej .nwnejP a {
  line-height: 1em;
}

.Nwnej .nwnejSEnL,
.Nwnej .nwnejSEnR {
  max-width: 90%;
  float: left;
  margin: 12px 0 0 0;
}

.Nwnej .nwnejSEnL {
  line-height: 1.4em;
  width: 16px;
}

.Nwnej .nwnejSJp {
  margin: 0 0 0 1.5em;
  padding: 0 0 12px 0;
}

.Nwnej .nwnejS p {
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.Nwnej .nwnejS a {
  line-height: 1em;
}

.Nwnej .nwnejYr {
  margin: 0 0 0 1.5em;
  padding: 0;
}

.Nwnej .nwnejYrL,
.Nwnej .nwnejYrLS,
.Nwnej .nwnejYrR {
  font-size: 0.9em;
  vertical-align: top;
}

.Nwnej .nwnejYrL,
.Nwnej .nwnejYrLS {
  margin: 0;
  padding: 0;
  width: 13px;
}

.Nwnej .nwnejYrR {
  padding: 0 4px 0 4px;
}

.Nwnej .nwnejYrLS i {
  margin: 4px 0 0 3px;
}

.Nwnej .nwnejYrHd {
  padding: 0 0.5em 0 0;
}

.Nwnej .nwnejYrTxt {
  display: none;
  margin: 0;
  padding: 0 0.5em 0 0;
}

.Nwnej .nwnejYrLn {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/iconCclBlS.png);
  background-position: left 5px;
  background-repeat: no-repeat;
  line-height: 1.2em;
  padding: 0 0 0 12px;
}

.Nwnej .nwnejYrE,
.Nwnej .nwnejYrJ {
  font-size: 0.9em;
  margin: 0;
}

.Nwnej .nwnejYrE {
  font-family: Arial;
  font-weight: bold;
  padding-right: 8px;
}

.Nwnej .nwnejThL a:active,
.Nwnej .nwnejThL a:hover,
.Nwnej .nwnejThL a:link,
.Nwnej .nwnejThL a:visited {
  border-bottom: currentColor dotted 1px;
  display: inline-block;
  font-size: 1em;
  line-height: 10px;
  text-decoration: none;
}

.Wejhs .wejhsSub {
  border-left: #815733 solid 6px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 5px 0;
  padding-left: 3px;
}

.Wejhs .wejhsSub a {
  line-height: 1em;
}

.Wejhs .wejhsD {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
}

.Wejhs .wejhsL {
  float: left;
  padding: 2px 0 2px 0;
}

.Wejhs .wejhsL span {
  border: #666 solid 1px;
  color: #363636;
  font-size: 0.9em;
  margin: 0 16px 0 12px;
  padding: 1px;
}

.Wejhs .wejhsR {
  float: left;
}

.Wejhs .wejhsInfo {
  border: #b5b6b5 solid 1px;
  font-size: 0.8em;
  line-height: 1.32em;
  margin: 50px 0 0 0;
  padding: 10px;
}

.Wkpen .wkpenWrp {
  line-height: 1.3em;
  margin-top: 5px;
  padding: 9px 5px 9px 15px;
  width: 95%;
}

.Jawik .level0,
.Jawik .level0Head {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0 2px 0;
  padding-left: 5px;
}

.Jawik .level0Head {
  margin-top: 0;
}

.Jawik .level0 span,
.Jawik .level0Head span {
  border: #b81e07 solid;
  border-width: 0 0 0 8px;
  padding: 3px 2px 2px 0;
}

.Hypej .level0 {
  margin: 1em 0 0 0;
  padding: 0;
}

.Hypej .HypejSub {
  border-left: #815733 solid 6px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 5px 0;
  padding-left: 3px;
}

.Hypej .HypejSm {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1em;
  padding-left: 3px;
}

.Hypej .lvlNH {
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  height: 1.1em;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  width: 28px;
}

.Hypej .lvlB {
  float: left;
  margin: 0;
  padding: 0.3em 0;
}

.HypejYrL,
.HypejYrR {
  font-size: 0.9em;
  vertical-align: top;
}

.Hypej .HypejYr {
  border: 0;
  border-collapse: collapse;
  margin: 5px 0 1em 1em;
  padding: 0;
}

.Hypej .HypejYrL {
  padding: 0 4px 0 4px;
  width: 40px;
}

.Hypej .HypejYrC {
  border: #666 solid 1px;
  font-size: 0.9em;
  padding: 1px;
}

.Hypej .HypejYrLn {
  background-image: url(https://weblio.hs.llnwd.net/e7/img/iconCclBlS.png);
  background-position: left 5px;
  background-repeat: no-repeat;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 16px;
}

.Hypej .HypejYrEn {
  font-family: Arial;
  font-weight: bold;
}

.Hypej .HypejLb {
  background-color: #eee;
  border: #999 solid 1px;
  color: currentColor;
  font-size: 1em;
  font-weight: normal;
  margin: 0 2px 0 3px;
  padding: 1px;
}

.Hypej .HypejB {
  border-collapse: collapse;
  width: 80%;
}

.Hypej .HypejB tr th {
  border: #808080 solid 1px;
  padding: 3px;
}

.Hypej .HypejB tr td {
  border: #808080 solid 1px;
  padding: 3px;
}

.Hypej .onseiSwf {
  padding: 10px 0 0 2px;
  vertical-align: middle;
}

.Gkzkj .level0 {
  margin: 0;
  padding: 0;
}

.Efref .efrefA {
  color: #999;
  font-size: 1em;
  margin: 0 0 12px;
}

.Nkjtn .nkjtnI caption {
  font-weight: bold;
}

h2.midashigo .cgkgjSm,
.Cgkgj .cgkgjSm {
  font-size: 0.6em;
  margin-left: 0.4em;
}

.Cgkgj .level0 {
  margin: 0;
  padding: 0;
}

.EgtejLb {
  border: #666 solid 1px;
  font-size: 1em;
  font-weight: bold;
  margin: 2px 0;
  margin-right: 8px;
  padding: 0 3px !important;
  white-space: nowrap;
}

.EgtejRSpc {
  margin-right: 10px;
}

.EgtejSub,
.EgtejSubS {
  background-color: #666;
  border: none !important;
  border-radius: 3px;
  color: #fff;
  display: inline;
  font-size: 1em;
  font-weight: normal !important;
  line-height: 30px !important;
  margin-right: 5px;
  padding: 0 5px 3px 5px !important;
}

.EgtejSubS {
  font-size: 1em;
}

.EgtejSub a,
.EgtejSubS a,
.EgtejCcl a {
  color: #fff !important;
  text-decoration: none !important;
}

.EgtejCcl a {
  line-height: 18px;
}

.EgtejBld {
  font-weight: bold;
}

.EgtejYrAr,
.EgtejIdxAr {
  margin-top: 3px;
  background-color: rgba(173, 173, 173, 0.16);
  padding: 5px;
}

.EgtejYrTb {
  border-collapse: collapse;
  width: 100%;
}

.EgtejYrTb td {
  vertical-align: top;
}

.EgtejYrImg img {
  width: 100%;
}

.EgtejYrTb th {
  vertical-align: top;
  width: 40px;
}

.EgtejWrp {
  margin-left: 2px;
}

.EgtejCrTb {
  margin-bottom: 10px;
}

.EgtejCrTb td {
  padding-left: 30px;
  vertical-align: top;
}

.EgtejCrTb td:first-child {
  padding: 0;
  width: 40%;
}

.EgtejCrTb td img {
  border: #ccc solid 1px;
  padding: 10px;
  width: 100%;
}

.EgtejSpc {
  display: inline-block;
  width: 1em;
}

.EgtejClmTb {
  width: 100%;
}

.EgtejClmTb td {
  line-height: 1.2em;
  vertical-align: top;
}

.EgtejClmImg img {
  width: 100%;
}

.EgtejIdxCld {
  margin-left: 40px;
  margin-right: 10px;
}

.EgtejSign {
  display: inline-block;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 10px;
}

.EgtejCcl {
  background-color: #666;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 18px;
}

.EgtejRmIdx {
  font-size: 1em;
}

.EgtejAncTgt {
  display: none;
}

.EgtejAncTgt + .br {
  margin-bottom: 1em;
}

.EgtejAncLnk {
  text-decoration: none;
}

.CtbdsWrp {
  margin: 0 15px 25px 4px;
}

.CtbdsWrpNt {
  margin-top: 36px;
  margin-bottom: 36px;
}

.Jfwik .level0,
.Jfwik .level0Head {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0 2px 0;
  padding-left: 5px;
}

.Jfwik .level0Head {
  margin-top: 0;
}

.Jfwik .level0 span,
.Jfwik .level0Head span {
  border: #95adce solid;
  border-width: 0 0 0 8px;
  padding: 3px 2px 2px 0;
}

.flex-rectangle-ads-frame {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intrstR .conjugateRowL {
  width: 14%;
  vertical-align: top;
}

.summaryM {
  margin-bottom: 5px;
}

.summaryHead {
  display: flex;
  align-items: center;
}

img {
  display: inline;
}

.qotC {
  margin: 0.5em 0;
}

.qotC p {
  margin: 0;
}

.qotCJE .squareCircle,
.qotCE .squareCircle {
  display: none;
}

.CtbdsLb {
  background-color: #666;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  margin: 0 6px 0 4px;
  padding: 3px 5px !important;
  white-space: nowrap;
}

.CtbdsLbNt {
  font-size: 20px;
}

.CtbdsTdCore,
.CtbdsTdPoint {
  width: auto;
}

.CtbdsWrp {
  margin: 0 15px 25px 4px;
}

.CtbdsWrpNt {
  margin-top: 36px;
  margin-bottom: 36px;
}

.CtbdsCat,
.CtbdsPv {
  margin: 10px 0;
}

.CtbdsPv {
  font-weight: bold;
}

.CtbdsSemSpaced {
  margin-bottom: 10px;
}

.CtbdsExAr {
  background-color: rgba(173, 173, 173, 0.16);
  height: auto;
  margin: 0 5px 5px 5px;
  padding: 5px;
}

.CtbdsEx {
  padding-left: 20px;
  margin: 0;
}

.CtbdsEx li {
  list-style-type: disc;
}

.CtbdsMetaTb {
  border-spacing: 0;
  margin: 0 0 15px 0;
}

.CtbdsMetaTb td {
  vertical-align: top;
}

.jmnedGls {
  margin: 0;
}

.br {
  margin-bottom: 5px;
}

.level0 .br {
  margin: 0;
}

.Nekym table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px #696969 solid;
}

.Nekym table th {
  background-color: #f5f5f5;
  border: 1px #696969 solid;
  font-weight: bold;
  padding: 3px;
  white-space: nowrap;
}

.Nekym table td {
  border: 1px #696969 solid;
  padding: 5px;
  line-height: 1.3em;
}

.Nekym .nekymS {
  border-left: #815733 solid 6px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
  margin: 10px 0 5px 0;
  padding-left: 3px;
}

.KejjeIdH {
  border-left: #666 solid 6px;
  font-size: 1.2em;
  line-height: 1em;
  margin: 10px 0 5px 0;
  padding-left: 3px;
}

.phraseEjjeT td {
  vertical-align: top;
}

.nwnejThL {
  margin-top: 1em;
}

.qotHS {
  border: #666 solid 1px;
  padding: 0 2px;
}

.qotCE {
  font-weight: bold;
  line-height: 1.2;
  margin: 2px 0 2px 0;
  padding: 0;
}

.qotCJ {
  color: #666;
  line-height: 1.2em;
  margin: -1px 0 13px 0;
  padding: 0;
}

.phraseEjjeT {
  width: 100%;
}
