.saladict-div,
.saladict-div > .saladict-external,
.saladict-div > .saladict-panel {
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
}
