@import '@/_sass_global/_reset.scss';
@import '@/components/Speaker/Speaker.scss';

.dictEudic-Item {
  margin-bottom: 10px;

  p {
    margin: 0;
  }
}

.dictEudic-Channel {
  color: #999;

  &::before {
    content: '《';
  }

  &::after {
    content: '》';
  }
}
