.dictOal-TitleBox {
  .dictOal-TitleBoxT {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.6;
  }

  .dictOal-TitleBoxPos {
    font-style: italic;
    margin-left: 4px;
    margin-right: 3px;
  }

  .dictOal-TitleBoxSymbol {
    padding: 2px 5px;
    color: #fff;
    font-weight: 700;
    font-size: 0.8em;
    min-width: 14px;
    text-align: center;
    background-color: #444;
    border-radius: 8px;
  }
}

.dictOal-Phonetics {
  display: flex;

  .dictOal-PhonsCountry {
    text-transform: uppercase;
    color: #e84427;
    font-size: 1em;
    font-weight: 700;
  }

  .dictOal-PhonsUS {
    margin-left: 4px;
  }
}

.dictOal-SensesMultiple {
  padding-left: 20px;
  margin-top: 4px;

  & li::marker {
    font-weight: 700;
  }

  .dictOal-SensesTitle {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: -20px;
    border-bottom: 1px solid var(--color-font-grey);
    margin-bottom: 4px;
  }

  .dictOal-SensesLabels {
    color: #6f6f6f;
    font-style: italic;
    font-weight: 400;
    margin-right: 3px;
  }

  .dictOal-SensesVariants {
    font-style: italic;
    color: #6f6f6f;
    margin-right: 3px;

    & .v {
      font-weight: 600;
      font-style: normal;
      color: #1a3561;
    }
  }

  .dictOal-SensesSymbols {
    margin-right: 3px;
    padding: 2px 5px;
    color: #fff;
    font-weight: 700;
    font-size: 0.8em;
    min-width: 14px;
    text-align: center;
    background-color: #444;
    border-radius: 8px;
  }

  .dictOal-SensesGrammar {
    color: #6f6f6f;
    font-weight: 400;
    margin-right: 3px;
  }

  .dictOal-SensesCf {
    font-weight: 600;
    font-style: normal;
    color: #333333;
    margin-right: 0.25rem;
  }

  .dictOal-MeanExamples {
    .examples > li {
      &::before {
        content: '•';
        padding-right: 8px;
        margin-left: -4px;
        color: rgb(111, 111, 111);
      }

      .x {
        font-style: italic;
      }

      .cl {
        font-weight: 600;
        font-style: italic;
        color: #333333;
      }
    }
  }
}

.dictOal-Origin {
  .dictOal-OriginT {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.6;
    color: #27a1b0;
  }

  .dictOal-OriginTitle {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.3;
    color: #27a1b0;
  }

  .dictOal-OriginMean {
    padding-left: 20px;
  }
}

.dictOal-Idioms {
  padding: 8px;
  border: 1px solid #27a1b0;
  border-radius: 8px 8px 0 0;

  .dictOal-IdiomsT {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.6;
    color: #27a1b0;
  }

  .dictOal-IdiomsTitle {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.3;
  }

  .dictOal-IdiomsLabels {
    color: #6f6f6f;
    font-weight: 400;
    margin-right: 3px;
  }

  .dictOal-IdiomsExamples {
    .examples > li {
      padding-left: 8px;

      &::before {
        content: '•';
        padding-right: 8px;
        margin-left: -4px;
        color: rgb(111, 111, 111);
      }

      .x {
        font-style: italic;
      }
    }
  }
}
