.btn-preview {
  position: fixed !important;
  right: 30px;
  bottom: 60px;
  border: none;
  color: #000 !important;
  background: #fff !important;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.btn-preview-fade-enter {
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-preview-fade-enter-active,
.btn-preview-fade-exit {
  opacity: 1;
  transition: opacity 0.5s;
}

.btn-preview-fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s;
}
