.entryBox-Wrap {
  padding-top: 0.8em;
}

.entryBox {
  position: relative;
  border: 1px solid var(--color-font);
  margin-bottom: 1em;
  padding: 1em 5px 5px 5px;
}

.entryBox-Title {
  position: absolute;
  top: 0;
  left: 1em;
  transform: translateY(-50%);
  padding: 0 5px;
  font-size: 1.2em;
  background: var(--color-background);
}
