.panel-MenuBar {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  font-size: 14px;
  background-color: rgb(92, 175, 158);
}

.panel-MenuBar_Btn {
  width: 30px;
  height: 30px;
  overflow: hidden;
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  user-select: none;

  &:focus,
  &:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.05);
  }

  &:disabled {
    svg {
      fill: #9accc1;
    }

    .panel-MenuBar_Icon-fav {
      fill: none;
      stroke: #9accc1;
    }

    &:hover {
      cursor: unset;
      background: transparent;
    }
  }
}

.panel-MenuBar_Btn-dir {
  @extend .panel-MenuBar_Btn;
  width: 22px;
  padding: 4px;
}

.panel-MenuBar_DragArea {
  flex-grow: 3;
  align-self: stretch;
  cursor: move;
  user-select: none;
  // prevent scrolling
  touch-action: none;
}

.panel-MenuBar_SearchBox {
  flex-grow: 1;
  width: 4em;
  padding: 0 5px;
  border: 0 none;
  outline: 0 none;
  color: #fff;
  background-color: rgba(225, 225, 225, 0.1);

  &:focus {
    flex-grow: 7;
  }
}

.panel-MenuBar_Icon {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.panel-MenuBar_Icon-history {
  @extend .panel-MenuBar_Icon;
  fill-opacity: 0.8;
}

.panel-MenuBar_Icon-fav {
  @extend .panel-MenuBar_Icon;
  fill: none;
  stroke: #fff;
  stroke-width: 2;

  &.isActive {
    fill: #dd4b39;
    stroke-width: 0;
  }
}

.panel-MenuBar_Icon-pin {
  transform-origin: center;

  &.isActive {
    transform: rotate(45deg);
  }
}

.panel-MenuBar_SettingsWrapper {
  position: relative;
}

.panel-MenuBar_Profiles {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: $global-zindex-tooltip;
  padding: 8px 18px 8px 5px;
  word-break: keep-all;
  white-space: nowrap;
  border-radius: 10px;
  background: #fff;
  box-shadow: 3px 4px 31px -8px rgba(0,0,0,0.8);
}

.panel-MenuBar_Profile {
  position: relative;
  margin: 5px 0;
  user-select: none;
  cursor: pointer;

  &::before {
    content: '▶';
    padding: 0 5px;
    color: transparent;
    transform: color 0.4s;
  }

  &.isActive::before {
    color: #333;
  }
}

.panel-MenuBar_ProfileBtn {
  background: transparent;
  user-select: none;
  cursor: pointer;
}

.isAnimate {
  .panel-MenuBar_SearchBox {
    transition: flex 1s;
  }

  .panel-MenuBar_Btn {
    transition: background 0.2s;
  }

  .panel-MenuBar_Icon-pin {
    transition: transform 0.4s;
  }

  .panel-MenuBar_ProfilePanel-enter {
    opacity: 0;
    transition: opacity 0.4s;
  }

  .panel-MenuBar_ProfilePanel-enter-active,
  .panel-MenuBar_ProfilePanel-exit {
    opacity: 1;
    transition: opacity 0.4s;
  }

  .panel-MenuBar_ProfilePanel-exit-active {
    opacity: 0;
    transition: opacity 0.4s;
  }
}
