.saladict-StaticSpeaker {
  text-decoration: none;
  margin: 0 5px;
  color: #f9690e;
  border: none;
  background: transparent;
  pointer-events: auto;
  cursor: pointer;

  &:hover {
    outline: none;
  }
}
