@import '@/_sass_shared/_fancy-scrollbar.scss';

.entry-sidebar {
  height: calc(100vh - 64px);
  background: transparent;

  &.isAffixed {
    height: 100vh;
  }

  @media (hover: hover) {
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }
  }
}
