@import '@/_sass_shared/_fancy-scrollbar.scss';

.entry-sidebar {
  height: 100vh;
  background: transparent;

  @media (hover: hover) {
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }
  }
}
