.dictMojidict-Subdetails {
  padding-left: 1em;
}

.dictMojidict-Subdetails_Item {
  list-style-type: disc;
}

.dictMojidict-Examples {
  padding-left: 0.5em;
}

.dictMojidict-Examples_Title {
  margin-bottom: 0;
}

.dictMojidict-Examples_Trans {
  margin-top: 0;
  padding-left: 0.5em;
  font-size: 0.9em;
}
