.dictMojidict-Word_Title {
  margin-bottom: 0;
}

.dictMojidict-Word_Trans {
  margin-top: 0;
  padding-left: 0.5em;
  font-size: 0.9em;
  color: #999;
}

.dictMojidict-List {
  padding-left: 1em;
}

.dictMojidict-Sublist {
  padding-left: 0.5em;
}

.dictMojidict-ListItem_Disc {
  list-style-type: disc;
}
