.panel-FrameBody {
  height: 100vh;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

.panel-Root {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.panel-DictContainer {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0; // remove whitespace
  overscroll-behavior: contain;
}

.panel-MtaBox {
  overflow: hidden;

  textarea {
    height: 100%;
    width: 100%;
    padding: 5px;
    font-family: inherit;
    resize: none;
  }
}

.panel-AudioBox {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.panel-MtaBoxBtn,
.panel-AudioBoxBtn {
  width: 100%;
  height: 12px;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
}

.panel-AudioBoxBtn {
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.panel-MtaBoxBtn_Arrow,
.panel-AudioBoxBtn_Arrow {
  &.isActive {
    transform: rotate(180deg);
  }
}

.panel-AudioBoxFrame {
  width: 100%;
  height: 165px;
  border: none;
}

.isAnimate {
  .panel-MtaBox {
    transition: height 0.4s;
  }

  .panel-AudioBox {
    transition: bottom 0.4s;
  }

  .panel-MtaBoxBtn_Arrow,
  .panel-AudioBoxBtn_Arrow {
    transition: transform 0.2s;
  }
}
