.panel-FrameBody {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.panel-Root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.panel-DictContainer {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0; // remove whitespace
}

.panel-BigSearchBox {
  overflow: hidden;

  textarea {
    height: 100%;
    width: 100%;
    padding: 5px;
    font-family: inherit;
    resize: none;
  }
}

.panel-BigSearchBoxBtn {
  width: 100%;
  height: 12px;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
}

.panel-BigSearchBoxBtn_Arrow {
  &.isActive {
    transform: rotate(180deg);
  }
}

.isAnimate {
  .panel-BigSearchBox {
    transition: height 0.4s;
  }

  .panel-BigSearchBoxBtn_Arrow {
    transition: transform 0.2s;
  }
}
