@import '@/_sass_global/_z-indices.scss';
@import '@/components/ShadowPortal/ShadowPortal.scss';

.dictPanel-Root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  z-index: $global-zindex-dictpanel;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 23px -6px;
}

.dictPanel-Head {
  flex-shrink: 0;
}

.dictPanel-Body {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0; // remove whitespace
}

@import '../MenuBar/MenuBar.scss';
@import '../MtaBox/MtaBox.scss';
@import '../DictList/DictList.scss';
@import '../WaveformBox/WaveformBox.scss';

.isAnimate {
  &.dictPanel-Root {
    transition: width 0.4s, min-height 0.4s,
      top 0.4s cubic-bezier(0.55, 0.82, 0.63, 0.95),
      left 0.4s cubic-bezier(0.4, 0.9, 0.71, 1.02);
  }
}
