h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #333;
  font-weight: 700;
  line-height: 1.6;
}

h1, .h1 {
  font-size: 1.5em;
}

h2, .h2 {
  font-size: 13px;
}

h3, .h3 {
  font-size: 1.17em;
}

h4, .h4 {
  font-size: 1em;
}

h5, .h5, h6, .h6 {
  font-size: 0.83em;
}

@import '../panel/index'
